.about-block {
	&__img {
		width: 100%;
		height: 105px;
		margin-bottom: 20px;
		img {
			display: block;
			width: 100%;
		    height: 100%;
		    object-fit: cover;
		    object-position: center;
		}
	}
	p, li {
		margin-top: 0;
		margin-bottom: 21px;
		font-size: 14px;
		line-height: 21px;
		color: #666666;
	}
	h3 {
		margin-top: 0;
		margin-bottom: 20px;
		font-size: 18px;
		font-weight: 500;
		color: #333333;
	}
	ul {
	    margin-top: 20px;
    	margin-bottom: 20px;
	}
	li {
		position: relative;
	    margin-bottom: 16px;
	    padding-left: 25px;
	    &:before {
	    	content: "";
		    position: absolute;
		    top: 8px;
		    left: 0;
		    width: 8px;
		    height: 8px;
		    border-radius: 50%;
		    background-color: $second-color;
	    }
	}
	.benefits-about {
		margin-top: 20px;
		margin-bottom: 20px;
		&__item {
			display: flex;
			align-items: center;
			width: 100%;
			height: 100px;
			margin-bottom: 15px;
			padding-left: 25px;
			padding-right: 25px;
			border: $border;
			border-radius: 6px;
			&:nth-child(1) {
				$item-color: #3366cc;
				.benefits-about__img svg {
					fill: $item-color;
				}
				.benefits-about__txt {
					color: $item-color;
				}
			}
			&:nth-child(2) {
				$item-color: #5bb94f;
				.benefits-about__img svg {
					fill: $item-color;
				}
				.benefits-about__txt {
					color: $item-color;
				}
			}
			&:nth-child(3) {
				$item-color: #f68830;
				.benefits-about__img svg {
					fill: $item-color;
				}
				.benefits-about__txt {
					color: $item-color;
				}
			}
		}
		&__img {
			width: 50px;
			height: 55px;
			margin-right: 25px;
			svg {
				display: block;
				width: 100%;
				height: 100%;
			}
		}
		&__txt {
			margin: 0;
		}
	}
}