.portfolio-elems {
	display: flex;
	flex-wrap: wrap;
	margin-top: -30px;
	margin-left: -15px;
	margin-right: -15px;

	&__item {
		width: calc(100% / 3 - 30px);
		@media screen and (min-width: 1024px) {
			width: calc(25% - 30px);
		}
		@media screen and (min-width: 1440px) {
			width: calc(20% - 30px);
		}
		height: 216px;
		margin-left: 15px;
		margin-right: 15px;
		margin-top: 30px;
		border-radius: 6px;
		overflow: hidden;
		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
}
