.catalog-compare {
	margin-bottom: 30px;
	&__header {
		margin-top: 0;
	    margin-bottom: 24px;
	    font-size: 18px;
	    font-weight: 500;
	    color: #222;
	}
	&__control {
		margin-bottom: 20px;
		padding: 15px 15px 30px;
		border: $border;
		border-radius: 6px;
		.ctrl-btn {
			margin-bottom: 18px;
			border: none;
			outline: none;
			background-color: transparent;
			&__img {
				display: inline-block;
				width: 18px;
				height: 18px;
				border-radius: 50%;
				border: 1px solid #666666;
				position: relative;
				vertical-align: middle;
				margin-right: 8px;
				svg {
					@include centerer-xy;
					width: 10px;
					height: 10px;
					fill: #666666;
				}
			}
			&__txt {
				font-size: 14px;
				line-height: 18px;
				color: #333333;
			}
		}
	}
	&__control-group {
		margin-top: 30px;
		.campare-show-all,
		.campare-show-diff {
			display: block;
			svg {
				display: none;
				fill: $second-color;
			}
			&.selected {
				.ctrl-btn__img {
					border-color: $second-color;
				}
				svg {
					display: inline-block;
				}
			}

		}
	}
	&__products {
		.catalog-compare-item {
			position: relative;
			padding: 25px 15px 15px;
			box-sizing: border-box;
			border: $border;
			border-radius: 6px;
			margin-bottom: 36px;
			&__del {
				position: absolute;
				width: 32px;
				height: 32px;
				padding: 0;
				border-radius: 2px;
				background-color: $first-color;
				top: 12px;
				right: 15px;
				border: none;
				outline: none;
				cursor: pointer;
				svg {
					@include centerer-xy;
					width: 10px;
					height: 10px;
					fill: #fff;
				}
			}
			&__img {
				width: 110px;
				height: 110px;
				margin-bottom: 20px;
				margin-left: auto;
				margin-right: auto;
				background-color: #fff;
				a {
					display: block;
					width: 100%;
					height: 100%;
				}
				img {
				    display: block;
				    height: 100%;
				    width: 100%;
				    object-fit: cover;
				    object-position: center;
				}
			}
			&__title {
				$l-height: 23px;
				margin-top: 0;
				margin-bottom: 20px;
				font-size: 16px;
				line-height: $l-height;
				height: $l-height * 3;
				overflow: hidden;
				a {
					color: $first-color;
					text-decoration: none;
					&:hover {
						text-decoration: underline;
					}
				}
			}
			&__price {
				margin-top: 0;
				margin-bottom: 20px;
				font-size: 18px;
				font-weight: 500;
				color: #222222;
			}
			&__buttons {
				height: 38px;
				display: flex;
				justify-content: space-between;
				button {
					width: 38px;
					height: 38px;
				}
			}
			&__prop {
				height: 34px;
				padding: 0 15px;
				text-align: center;
				font-size: 14px;
				line-height: 34px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				&:nth-child(odd) {
					background-color: #f5f5f5;
				}
			}

		}
	}
}

.swiper-container-horizontal>.catalog-compare-scrollbar {
	height: 6px;
	left: 0;
	top: 356px;
	width: 100%;
	.swiper-scrollbar-drag {
		background-color: $first-color;
	}
}