.catalog-menu-bg {
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,.3);
	display: none;
}
.catalog-menu-button {
	border: none;
	outline: none;
	border-right: 1px solid rgba(255,255,255,.3);
    font-size: 24px;
    color: #fff;
    height: 80px;
	width: 80px;
	box-sizing: border-box;
	background-color: $first-color;
	transition: .3s;
	&:hover {
		background-color: lighten($first-color, 7%);
	}
	svg {
		width: 18px;
		height: 18px;
		fill: #ffffff;
		&.svg-opened {
			display: none;
		}
		&.svg-closed {
			display: inline;
		}
	}
	&.opened {
		background-color: $bg-color;
		color: $second-color;
		svg {
			width: 15px;
			height: 15px;
		}
		svg.svg-opened {
			display: inline;
			fill: $second-color;
		}
		svg.svg-closed {
			display: none;
		}
	}
}
.catalog-menu-content {
	display: block;
	@media screen and (min-width: 1440px) {
		display: flex;
	}
}
.catalog-menu-block {
	display: none;
	position: absolute;
	z-index: 3;
	top: 100%;
	left: 0;
	width: 100%;
	background-color: $bg-color;
	@media screen and (min-width: 1440px) {
		padding-top: 35px;
	}
	padding-left: 80px;
	padding-right: 80px;
	padding-bottom: 80px;
	&__title {
		margin-bottom: 20px;
		font-size: 18px;
		font-weight: 500;
		white-space: nowrap;
		margin-right: 32px;
	}
	&__content {
		flex-grow: 1;
		.catalog-menu {
			display: flex;
			flex-wrap: wrap;
			margin: 0;
			padding: 0;
			margin-left: -16px;
			margin-right: -16px;
			&-item {
				margin-left: 16px;
				margin-right: 16px;
				margin-bottom: 20px;
				border: 1px solid $third-color;
				border-radius: 4px;
				padding: 8px 10px;
				background-color: #fff;
				&:hover {
					background-color: $third-color;
				}
				width: calc(100% - 32px);
				@media screen and (min-width: 1024px) {
					width: calc(50% - 32px);
				}
				@media screen and (min-width: 1280px) {
					width: calc(100% / 3 - 32px);
				}
				@media screen and (min-width: 1920px) {
					width: calc(25% - 32px);
				}
				a {
					display: flex;
					align-items: center;
					color: inherit;
					text-decoration: none;
				}

				&__img {
					width: 60px;
					height: 60px;
					background-color: #fff;
					margin-right: 20px;
					overflow: hidden;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
    					object-position: center;
					}
				}
				&__name {

				}
			}
		}
	}
}
.customer-menu-block {
	border-top: 1px solid #eeddcf;
	border-bottom: 1px solid #eeddcf;
	margin-top: 20px;
	padding-top: 15px;
	color: #333333;
	@media screen and (min-width: 1440px) {
		display: none;
	}
	&__title {
		margin-bottom: 20px;
		font-size: 18px;
		font-weight: 500;
		white-space: nowrap;
		position: relative;
		cursor: pointer;
	}
	&__btn {
		position: absolute;
		top: 0;
		right: 0;
		border: none;
		outline: none;
		background-color: transparent;
	}
	&__content {
		display: none;
		margin-left: -15px;
		margin-right: -15px;
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
	}
	&__item {
		display: block;
		height: 50px;
		width: calc(100% - 30px);
		@media screen and (min-width: 1024px) {
			width: calc(50% - 30px);
		}
		margin-left: 15px;
		margin-right: 15px;
		font-size: 14px;
		border-bottom: 1px solid #eeddcf;
		display: flex;
		align-items: center;
		a {
			text-decoration: none;
			color: inherit;
			&:hover {
				color: $second-color;
			}
		}
		&:last-child {
			border-bottom: none;
		}
	}
}
.additional-menu-block {
	width: 100%;
	height: 80px;
	margin-bottom: 20px;
	border-bottom: 1px solid #eeddcf;
	color: #333333;
	@include clearfix;
	@media screen and (min-width: 1440px) {
		display: none;
	}
}
.additional-menu-user {
	float: left;
	&__btn {
		border: none;
		outline: none;
		background-color: transparent;
		height: 80px;
		padding-left: 25px;
		padding-right: 25px;
		svg {
			width: 18px;
			height: 18px;
			fill: #999999;
			line-height: 80px;
			vertical-align: middle;
		}
		span {
			display: inline-block;
			margin-left: 10px;
			font-size: 14px;
			color: #333333;
			line-height: 80px;
		}
	}
}
.additional-menu-lang {
	display: flex;
	float: right;
	font-size: 14px;
	&__btn {
		position: relative;
		opacity: 1;
		transition: .3s;
		span {
			@include centerer-xy;
			text-align: center;
			display: inline-block;
			width: 38px;
			height: 38px;
			border-radius: 50%;
			line-height: 38px;
			color: #333;
		}
		&.active {
			span {
				background-color: $second-color;
				color: #ffffff;
			}
		}
	}
	a:hover span {
		color: $first-color;
    	background-color: #fff;
	}
}