.top-header {
	width: 100%;
	height: 80px;
	background-color: $first-color;
	display: flex;
	align-items: center;
	position: relative;
	z-index: 3;
}
.header-logo {
	margin-left: 18px;
}
.top-header-btn {
	display: inline-block;
	border: 0;
	outline: 0;
	padding: 0;
	width: 80px;
	height: 80px;
	box-sizing: border-box;
	background-color: transparent;
	position: relative;
	opacity: .5;
	transition: opacity .2s;
	svg {
		@include centerer-xy;
		fill: #fff;
		width: 18px;
		height: 18px;
	}
	&:hover {
		opacity: 1;
	}
	&.th-user {
		display: none;
		@media screen and (min-width: 1440px) {
			display: block;
		}
	}
}
.right-header-section {
	display: flex;
	justify-content: flex-end;
	flex-grow: 1;
}

// counter for favorites
.top-header-btn__cnt {
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(5px, -25px);
	min-width: 20px;
	height: 20px;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 10px;
	background-color: #fff;
	color: $second-color;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
}
.top-header-btn--added .top-header-btn__cnt {
	display: block;
}
.top-header-btn--added {
	color: $second-color;
	opacity: 1;
	svg {
		fill: $second-color;
	}
}

.ext-btn-block {
	&.addr-n-phones {
		@media screen and (min-width: 1440px) {
			display: none;
		}
	}
	$first-bg-color: #fef5ef;
	$second-bg-color: #e9d9c3;
	$first-f-color: #333333;
	$second-f-color: #666666;
	$arrow-color: #9a8b73;
	height: 80px;
	position: relative;
	.top-cont-btn {
		svg.svg-opened {
			display: none;
			fill: $second-color;
			width: 15px;
			height: 15px;
		}
		svg.svg-closed {
			display: inline;
		}
	}
	&.opened {
		.brief-ext {
			background-color: $first-bg-color;
			color: $first-f-color;
		}
		.top-cont-btn {
			background-color: $first-bg-color;
			opacity: 1;
			svg.svg-opened {
				display: inline;
			}
			svg.svg-closed {
				display: none;
			}
		}
		.brief-ext__btn {
			background-color: $second-bg-color;
			color: $arrow-color;
		}
	}
	.ext-contacts-block,
	.ext-dropdown {
		display: none;
		position: absolute;
		z-index: 10;
		top: 100%;
		left: 0;
		width: 214px;
		height: auto;
		padding: 14px 18px 28px;
		background-color: $first-bg-color;
	}
	.brief-ext {
		display: none;
		@media screen and (min-width: 1440px) {
			display: flex;
			+.top-header-btn {
				display: none;
			}
		}
		height: 80px;
		width: 214px;
		padding-left: 18px;
		padding-right: 18px;
		align-items:center;
		background-color: transparent;
		color: #ffffff;
		transition: .5s;
		&__info {
			text-align: center;
			margin-right: 18px;
		}
		&__phone {
			font-size: 18px;
			font-weight: 500;
			margin-top: 0;
			margin-bottom: 10px;
		}
		&__schedule {
			font-size: 16px;
			margin: 0;
		}
		&__btn {
			width: 21px;
			height: 21px;
			padding: 0;
			border: none;
			outline: none;
			border-radius: 50%;
			line-height: 21px;
			text-align: center;
			background-color: #84a2df;
			color: #ffffff;
		}
	}
	.ext-dropdown {
		color: $first-f-color;
		font-size: 16px;
		&__phone {
			margin-bottom: 16px;
			font-weight: 500;
			svg {
				&.phone-fill {
					fill: #2765cb;
				}
				&.kievstar-fill {
					fill: #fbd92f;
				}
				&.vodafone-fill {
					fill: #e63c45;
				}
				width: 22px;
				height: 22px;
				vertical-align: middle;
			}
			.phone-code {
				font-weight: 400;
				color: $second-f-color;
			}
			.phone-icon {
				display: inline-block;
				width: 30px;
			}
		}
		&__mail {
			margin-top: 24px;
			margin-bottom: 0;
			font-size: 14px;
			a {
				color: inherit;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		&__menu-item {
			font-size: 14px;
			color: $first-f-color;
			margin-bottom: 16px;
			&:last-child {
				margin-bottom: 0;
			}
			a {
				color: inherit;
				text-decoration: none;
				&:hover {
					color: $second-color;
				}
			}
		}
	}
}
.customer-menu {
	margin-left: 30px;
	.customer-menu-brief {
		width: auto;
	}
	.customer-menu-ext {
		width: 100%;
	}
}

.top-lang-block {
	display: none;
	@media screen and (min-width: 1440px) {
		display: block;
	}
	font-size: 16px;
	font-weight: 500;
	color: #fff;
	&.opened .top-lang-block__btn {
		background-color: $bg-color;
		color: $first-color;
	}
	&__btn {
		position: relative;
		display: flex;
		height: 80px;
		padding-left: 18px;
		padding-right: 18px;
		align-items: center;
	}
	.lang-active {
		padding-right: 18px;
	}
	.top-lang-block__ext.ext-dropdown {
		display: none;
		position: absolute;
		&:after {
			content: "";
			position: absolute;
			opacity: .35;
			width: 100%;
			height: 100%;
			left: -1px;
			top: 0;
			z-index: -1;
			box-sizing: content-box;
			border-left: 1px solid $first-color;
			border-right: 1px solid $first-color;
			border-bottom: 1px solid $first-color;
		}
	    z-index: 10;
	    top: 100%;
	    left: 0;
		height: 80px;
		width: 160px;
		padding: 0;
	    line-height: 80px;
		background-color: $bg-color;
		color: #333;
		.top-header-btn {
			float: left;
			display: block;
			opacity: 1;
			position: relative;
			transition: .3s;
			span {
				@include centerer-xy;
				display: inline-block;
			    width: 38px;
			    height: 38px;
				color: #333;
				text-align: center;
			    border-radius: 50%;
			    line-height: 38px;
			}
			&.active span {
		    	color: #fff;
		    	background-color: #f68830;
			}
		}
		a:hover span {
			color: $first-color;
	    	background-color: #fff;
		}
	}
}

.addr-n-phones--wide {
	display: none;
	@media screen and (min-width: 1440px) {
		display: flex;
	}
	&.phones-block {
		align-items: center;
	}
	.phones-block__one-phone {
		flex-shrink: 0;
		font-size: 16px;
		font-weight: 500;
		color: #fff;
		margin-left: 10px;
		margin-right: 10px;
		.phone-icon {
			display: inline-block;
    		width: 30px;
    		svg {
    			width: 18px;
			    height: 18px;
			    vertical-align: middle;
			    &.phone-fill {
					fill: #f68830;;
				}
				&.kievstar-fill {
					fill: #fbd92f;
				}
				&.vodafone-fill {
					fill: #e63c45;
				}
    		}
		}
	}
	.phones-block__schedule {
		display: none;
		@media screen and (min-width: 1500px) {
			display: block;
		}
		margin-left: 10px;
		margin-right: 10px;
		font-size: 14px;
		flex-shrink: 0;
		color: #fff;
	}
}

