.header-search {
	display: none;
	position: absolute;
	z-index: 2;
	top: 100%;
	left: 0;
	width: 100%;
	background-color: $bg-color;
	padding-top: 40px;
	padding-bottom: 80px;
	color: #999999;
	&__form {
		@include clearfix;
	}
	&__question {
		margin-top: 0;
		margin-bottom: 15px;
		font-size: 16px;
		font-weight: 500;
	}
	&__input-group {
		float: left;
		width: calc(100% - 80px);
		position: relative;
		font-size: 24px;
		font-weight: 500;
	}
	&__input-placeholder {
		position: absolute;
		top: 0;
		left: 0;
		line-height: 80px;
	}
	&__input-field {
		position: relative;
		z-index: 1;
		width: 100%;
		height: 80px;
		background-color: transparent;
		border: none;
		border-bottom: $border;
		outline: none;
		&:focus {
			+ span {
				display: none;
			}
		}
	}
	&__btn {
		border: none;
		background-color: $bg-color;
		padding: 0;
		width: 80px;
		height: 80px;
		svg {
			width: 20px;
			height: 20px;
			fill: #999999;
		}
	}
}

.js-search-btn.opened {
	background-color: $bg-color;
	opacity: 1;
	svg {
		fill: $second-color;
	}
}