.top-banner {
	width: 100%;
	height: 400px;
	background-color: $bg-color;
	@media screen and (min-width: 1024px) {
		height: 450px;
	}
	@media screen and (min-width: 1920px) {
		height: 480px;
	}
	.swiper-pagination {
		bottom: 34px;
		@media screen and (min-width: 1024px) {
			bottom: 44px;
		}
		@media screen and (min-width: 1440px) {
			bottom: 52px;
		}
		@media screen and (min-width: 1920px) {
			bottom: 58px;
		}
	}
	.swiper-pagination-bullet {
	    width: 24px;
	    height: 2px;
	    vertical-align: middle;
	    border-radius: 1px;
	    background-color: #666666;
	    margin-right: 12px;
	    &:focus {
	    	outline: none;
	    }
	}
	&.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
	    margin: 0 6px;
	}
	.swiper-pagination-bullet-active {
		height: 4px;
		background-color: $second-color;
	}
	.top-banner-item {
		box-sizing: border-box;
		position: relative;
		&-bg {
			position: absolute;
			z-index: 1;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: #e2e5eb;
			background-position: right center;
			background-repeat: no-repeat;
			background-size: contain;
			&__fg {
				position: absolute;
				bottom: 0;
				z-index: 1;
				background-position: right center;
				background-repeat: no-repeat;
				background-size: contain;
				$r-indent: 30px;
				right: $r-indent;
				width: calc(100% - #{$r-indent});
				height: 70%;
				@media screen and (min-width: 1024px) {
					height: 80%;
				}
				@media screen and (min-width: 1440px) {
					$r-indent: 90px;
					right: $r-indent;
					width: calc(100% - #{$r-indent});
				}
				@media screen and (min-width: 1920px) {
					$r-indent: 220px;
					right: $r-indent;
					width: calc(100% - #{$r-indent});
				}
			}
		}

		padding-top: 90px;
		padding-bottom: 34px;
		&__desc {
			width: 40%;
			position: relative;
			z-index: 3;
		}
		&__header {
			font-size: 36px;
			font-weight: 500;
			margin: 0;
			margin-bottom: 30px;
			color: #222222;
		}
		&__txt {
			font-size: 16px;
			line-height: 23px;
			color: #666666;
			height: calc(23px * 3);
			overflow: hidden;
		}
		&__btn {
			width: 180px;
		}

		@media screen and (min-width: 1440px) {
			&__header {
				font-size: 38px;
			}
		}
	}
}