.contacts-block {
	.contacts-map {
		width: 100%;
		height: 350px;
		margin-bottom: 30px;
		@media screen and (min-width: 1024px) {
			height: 400px;
		}
		#map {
			width: 100%;
			height: 100%;
		}
	}
	.contacts-wrapper {
		@media screen and (min-width: 1600px) {
			margin-left: -15px;
			margin-right: -15px;
			display: flex;
			.contacts-requisites,
			.contacts-feedback {
				width: calc(50% - 30px);
				margin-left: 15px;
				margin-right: 15px;
				margin-bottom: 0;
			}
			.contacts-requisites {
				width: calc(45% - 30px);
			}
			.contacts-feedback {
				width: calc(55% - 30px);
			}
		}
	}
	.contacts-requisites {
		padding: 20px;
		border: $border;
		border-radius: 6px;
		margin-bottom: 30px;
		.requisites-elem {
			margin-bottom: 16px;
			&:last-child {
				margin-bottom: 0;
			}
			&__title {
				margin-top: 0;
				margin-bottom: 16px;
				font-size: 16px;
				font-weight: 500;
				color: #333333;
			}
			p {
				margin: 0;
				font-size: 14px;
				color: #333333;
				&.requisites-elem__phone {
					margin-bottom: 16px;
				}
			}
			&__phone {
				svg {
					margin-right: 14px;
					display: inline-block;
					width: 22px;
					height: 22px;
					vertical-align: middle;
					&.phone {
						fill: #2765cb;
					}
					&.kievstar {
						fill: #fbd92f;
					}
					&.vodafone {
						fill: #e63c45;
					}
				}
				span {
					color: #999999;
				}
			}
		}
	}
	.contacts-feedback {
		&__title {
			margin-top: 0;
			margin-bottom: 30px;
			font-size: 18px;
			font-weight: 500;
			color: #333333;
		}
		.feedback-wrapper {
			margin-left: -15px;
			margin-right: -15px;
			display: flex;
			.feedback-column {
				width: calc(50% - 30px);
				margin-left: 15px;
				margin-right: 15px;
				textarea {
					height: 146px;
				}
			}
		}
	}
}