.catalog-menu-button {
	border: none;
	outline: none;
	border-right: 1px solid rgba(255,255,255,.3);
    font-size: 24px;
    color: #fff;
    height: 70px;
	width: 70px;
	box-sizing: border-box;
	background-color: $first-color;
	transition: .3s;
	&:hover {
		background-color: lighten($first-color, 7%);
	}
	svg {
		width: 18px;
		height: 18px;
		fill: #ffffff;
		&.svg-opened {
			display: none;
		}
		&.svg-closed {
			display: inline;
		}
	}
	&.opened {
		background-color: $bg-color;
		color: $second-color;
		svg {
			width: 15px;
			height: 15px;
		}
		svg.svg-opened {
			display: inline;
			fill: $second-color;
		}
		svg.svg-closed {
			display: none;
		}
	}
}

.catalog-menu-block {
	display: none;
	width: 100%;
	min-height: calc(100vh - 70px);
	position: absolute;
	top: 100%;
	left: 0;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 0;
	padding-bottom: 60px;
	background-color: $bg-color;
	.additional-menu-block {
		height: 70px;
		@include clearfix;
		border-bottom: 1px solid #eeddcf;
	}
	.additional-menu-lang {
		float: right;
		font-size: 14px;
		&__btn {
			opacity: 1;
			span {
				display: inline-block;
				width: 38px;
				height: 38px;
				border-radius: 50%;
				line-height: 38px;
			}
			&.active {
				span {
					background-color: $second-color;
					color: #ffffff;
				}
			}
		}
	}
	.additional-menu-user {
		float: left;
		&__btn {
			border: none;
			outline: none;
			background-color: transparent;
			height: 70px;
			svg {
				width: 18px;
				height: 18px;
				fill: #999999;
				line-height: 80px;
				vertical-align: middle;
			}
			span {
				display: inline-block;
				margin-left: 10px;
				font-size: 14px;
				color: #333333;
				line-height: 80px;
			}
		}
	}
	.submenu-block {
		border-bottom: 1px solid #eeddcf;
		padding-top: 15px;
		color: #333333;
		&__list {
			display: none;
		}
		&__title {
			margin-bottom: 20px;
			font-size: 18px;
			font-weight: 500;
			white-space: nowrap;
			position: relative;
			cursor: pointer;
		}
		&__btn {
			position: absolute;
			top: 0;
			right: 0;
			border: none;
			outline: none;
			background-color: transparent;
		}
		&__item {
			display: block;
			height: 50px;
			font-size: 14px;
			border-bottom: 1px solid #eeddcf;
			display: flex;
			align-items: center;
			a {
			    display: block;
    			width: 100%;
				text-decoration: none;
				color: inherit;
				&:hover {
					color: $second-color;
				}
			}
			&:last-child {
				border-bottom: none;
			}
		}
	}
	.catalog-menu {
		&__list {
			margin-bottom: 20px;
		}
		&__item {
			margin-bottom: 5px;
			height: auto;
		    border: 1px solid #e9d9c3;
		    border-radius: 4px;
		    padding: 8px 10px;
		    background-color: #fff;
		    &:hover {
				background-color: $third-color;
				.catalog-menu__counter {
					background-color: #ffffff;
				}
			}
			a {
				display: flex;
				width: 100%;
				align-items: center;
				color: inherit;
				text-decoration: none;
			}

		}
		&__img {
			width: 50px;
			height: 50px;
			background-color: #fff;
			margin-right: 20px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
		}
		&__counter {
			margin-left: auto;
			height: 20px;
			min-width: 20px;
			border-radius: 10px;
			background-color: #eeddcf;
			padding-left: 6px;
			padding-right: 6px;
			text-align: center;
			color: #999999;
			font-size: 12px;
			line-height: 20px;
		}
	}
}

.catalog-menu-bg {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.3);
    display: none;
}