.header {
	position: relative;
}
.top-header {
	width: 100%;
	height: 70px;
	background-color: $first-color;
	display: flex;
	align-items: center;
	position: relative;
	z-index: 3;
}
.header-logo {
	margin-left: 18px;
	width: 234px;
	img {
		width: 100%;
		height: auto;
	}
}
$bottom-header-bg: #4c68a1;
.bottom-header {
	position: relative;
	width: 100%;
	height: 70px;
	background-color: $bottom-header-bg;
	font-size: 0;
}
.bottom-header-btn {
	display: inline-block;
	vertical-align: top;
	position: relative;
	border: 0;
	outline: 0;
	padding: 0;
	min-width: 70px;
	width: calc(100% / 5);
	height: 70px;
	box-sizing: border-box;
	background-color: transparent;
	position: relative;
	opacity: .5;
	transition: opacity .2s;
	svg {
		@include centerer-xy;
		width: 18px;
		height: 18px;
		fill: #fff;
	}
	&:hover {
		opacity: 1;
	}
}
.bottom-cont-block {
	display: none;
	width: 100%;
	position: absolute;
	z-index: 2;
	top: 100%;
	left: 0;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 35px;
	padding-bottom: 60px;
	background-color: $bg-color;
}
.bottom-cont-btn {
	.svg-closed {
		display: inline;
	}
	.svg-opened {
		display: none;
		width: 15px;
		height: 15px;
		fill: $second-color;
	}
	&.opened {
		background-color: $bg-color;
		opacity: 1;
		.svg-closed {
			display: none;
		}
		.svg-opened {
			display: inline;
		}
	}
}
.bottom-search-btn {
	.svg-closed {
		display: inline;
	}
	.svg-opened {
		display: none;
		width: 15px;
		height: 15px;
		fill: $second-color;
	}
	&.opened {
		background-color: $bg-color;
		opacity: 1;
		.svg-closed {
			display: none;
		}
		.svg-opened {
			display: inline;
		}
	}
}
// counter for favorites
.bottom-header-btn__cnt {
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(5px, -25px);
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: #fff;
	color: $second-color;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
}
.bottom-header-btn--added .bottom-header-btn__cnt {
	display: block;
}
.bottom-header-btn--added {
	color: $second-color;
	opacity: 1;
	svg {
		fill: $second-color;
	}
}
.cont-block {
	&__phone {
		margin-bottom: 16px;
		font-size: 16px;
		color: #333333;
		.phone-icon {
			display: inline-block;
    		width: 30px;
    		&.phone-icon--phone svg {
    			fill: #2765cb;
    		}
    		&.phone-icon--kievstar svg {
    			fill: #fbd92f;
    		}
    		&.phone-icon--vodafone svg {
    			fill: #e63c45;
    		}
		}
		.phone-code {
			color: #999999;
		}
		svg {
			width: 22px;
			height: 22px;
			vertical-align: middle;
		}
	}
	&__schedule {
		margin-top: 30px;
		padding-top: 16px;
		padding-bottom: 16px;
		border-radius: 4px;
		background-color: #e9d9c3;
		text-align: center;
		font-size: 14px;
		font-weight: 500;
		color: #333333;
	}
}

