
.header-login {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	width: 100%;
	&__to-back {
		width: 100%;
		height: 70px;
		background-color: #e9d9c3;
	}
	&__to-back-btn {
		border: none;
		outline: none;
		background-color: transparent;
		height: 70px;
		width: 100%;
		padding-left: 30px;
		font-size: 16px;
		color: #333333;
		text-align: left;
		line-height: 70px;
		.fa {
			display: inline-block;
			margin-right: 10px;
			font-size: 18px;
			color: $second-color;
		}
	}
	&__content {
		padding: 30px 25px 250px;
		background-color: $bg-color;
		height: calc(100vh - 140px);
	}
	&__title {
		font-size: 18px;
		font-weight: 500;
		text-align: left;
		color: #222222;
		margin-bottom: 20px;
	}
	&__input-group {
		position: relative;
		margin-bottom: 16px;
		background-color: #ffffff;
	}
	&__input-field {
		position: relative;
		z-index: 1;
		width: 100%;
		height: 44px;
		border: none;
		padding-left: 12px;
		padding-right: 12px;
		background-color: transparent;
		&:focus {
			outline-color: $second-color;
			+ span {
				display: none;
			}
		}
		&:required {
			+ span {
				&:after {
					content: "*";
				}
			}
		}
	}
	&__input-placeholder {
		position: absolute;
		left: 12px;
		top: 0;
		line-height: 44px;
		font-size: 14px;
		color: #999999;
	}
	&__btn-group {
		@include clearfix;
		a {
			font-size: 14px;
			color: $link-color;
			text-decoration: none;
		}
	}
	&__forgot-link {
		margin-bottom: 16px;
	}
	&__btn {
		width: 140px;
		float: left;
	}
	&__reg-link {
		float: left;
		margin-left: 10px;
		p {
			font-size: 14px;
			margin-top: 0;
			margin-bottom: 4px;
		}
	}
}