.header-search {
	display: none;
	@include clearfix;
	position: absolute;
	top: 140px;
	width: 100%;
	height: 70px;
	background-color: #ffffff;
	z-index: 5;
	&__form {
		height: 70px;
		width: 100%;
	}
	&__input-group {
		float: left;
		height: 70px;
		width: calc(100% - 70px);
		position: relative;
	}
	&__input-field {
		position: relative;
		z-index: 1;
		width: 100%;
		padding-left: 15px;
		height: 70px;
		background-color: transparent;
		border: none;
		outline: none;
		&:focus {
			+ span {
				display: none;
			}
		}
	}
	&__input-placeholder {
		display: block;
		position: absolute;
		@include centerer-y;
		padding-left: 15px;
		padding-right: 15px;
		width: calc(100% - 15px);
		font-size: 13px;
		color: #999999;
		overflow: hidden;
	}
	&__btn {
		width: 70px;
		height: 70px;
		border: none;
		outline: none;
		padding: 0;
		background-color: #ffffff;
		svg {
			width: 18px;
			height: 18px;
			fill: #999999;
		}
	}
}