.top-banner {
	width: 100%;
	height: 200px;
	background-color: $bg-color;
	.top-banner-item {
		position: relative;
		&-bg {
			position: absolute;
			z-index: 1;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: #e2e5eb;
			background-position: right center;
			background-repeat: no-repeat;
			background-size: cover;
		}
		.container {
			padding-top: 60px;
			padding-bottom: 34px;
			text-align: center;
		}
		&__header {
			font-size: 24px;
			font-weight: 500;
			margin: 0;
			margin-bottom: 16px;
			color: #222222;
		}

		&__txt {
			margin: 0;
			font-size: 14px;
			line-height: 20px;
			color: #666666;
			height: calc(20px * 3);
			overflow: hidden;
		}
	}
	.swiper-pagination {
		bottom: 25px;
		@include centerer-x;
	}
	.swiper-pagination-bullet {
	    width: 24px;
	    height: 2px;
	    vertical-align: middle;
	    border-radius: 1px;
	    background-color: #666666;
	    margin-right: 12px;
	    &:focus {
	    	outline: none;
	    }
	    &:last-child {
	    	margin-right: 0;
	    }
	}
	&.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
	    margin: 0 6px;
	}
	.swiper-pagination-bullet-active {
		height: 4px;
		background-color: $second-color;
	}
}