.regular-block {
	.portfolio-item {
		&__header {
			margin-top: 0;
			margin-bottom: 15px;
			font-size: 18px;
			font-weight: 500;
			color: #222222;
		}
		&__items {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		&__item {
			width: calc(50% - 8px);
			margin-bottom: 15px;
			height: 152px;
			border-radius: 6px;
			overflow: hidden;
			img {
				display: block;
				width: 100%;
				height: 100%;
			    object-fit: cover;
	    		object-position: center;
			}
		}
	}
}