.catalog-section {
	position: relative;
	margin-bottom: 60px;
	@media screen and (min-width: 1200px) {
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: -30px;
			height: 100%;
			width: 1px;
			background-color: #e6e6e6;
		}
	}
	&:after {
		content: "";
		position: absolute;
		bottom: -60px;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: #e6e6e6;
	}
}
.catalog-section-top {
	@media screen and (min-width: 1200px) {
		position: relative;
		&:before {
			content: "";
		    position: absolute;
		    top: 0;
		    left: -30px;
		    height: calc(100% + 32px);
		    width: 1px;
		    background-color: #e6e6e6;
		}
	}
	height: 44px;
	margin-bottom: 32px;
	@include clearfix;
	.catalog-section-sort {
		position: relative;
		float: left;
		&__item {
			display: inline-block;
			position: relative;
			width: 220px;
			padding-top: 0;
		    padding-bottom: 0;
			padding-left: 15px;
			padding-right: 15px;
		    border: none;
		    outline: none;
			font-size: 14px;
			text-align: left;
			height: 44px;
			line-height: 44px;
			text-decoration: none;
			background-color: #f5f5f5;
			color: #999999;
			border-radius: 2px;
			transition: .3;
			.fa {
				position: absolute;
				right: 15px;
				line-height: 44px;
				color: #333333;
			}
			svg {
				display: inline-block;
				margin-right: 5px;
				vertical-align: text-bottom;
				width: 15px;
				height: 15px;
				fill: #999999;
			}
			svg {
				display: none;
			}
			&.sort-asc {
				svg.asc-dir {
					display: inline-block;
				}
			}
			&.sort-desc {
				svg.desc-dir {
					display: inline-block;
				}
			}
			&:hover {
				background-color: darken(#f5f5f5, 3%);
			}
			a {
				display: block;
				position: relative;
				text-decoration: none;
				color: inherit;
				&:after {
					content: "";
					z-index: 2;
					position: absolute;
					top: 100%;
					left: 0;
					width: 100%;
					height: 1px;
					background-color: #e6e6e6;
				}
			}
			&:last-child {
				a {
					&:after {
						display: none;
					}
				}
			}
		}
		&__drop-box {
			display: none;
			position: absolute;
			z-index: 3;
			top: 100%;
			left: 0;
			width: 100%;
			border: $border;
			background-color: #ffffff;
			border-radius: 4px;
			overflow: hidden;
			box-shadow: $box-shadow;
			transition: .3s;
			.catalog-section-sort__item {
				background-color: #ffffff;
				margin: 0;
				&:hover {
					background-color: darken(#ffffff, 7%);
				}
				&:before {
					display: none;
				}
			}
			ul {
				margin: 0;
			}
		}
	}
	.catalog-section-views {
		float: right;
		.toggler-view {
			display: inline-block;
			width: 44px;
			height: 44px;
			margin-left: 10px;
			background-color: #f5f5f5;
			&:hover {
				background-color: darken(#f5f5f5, 3%);
			}
			position: relative;
			border-radius: 2px;
			svg {
				@include centerer-xy;
				width: 16px;
				height: 16px;
				fill: #999999;
			}
			&.active {
				background-color: $first-color;
				cursor: not-allowed;
				svg {
					fill: #ffffff;
				}
			}
		}
	}
	.catalog-section-tune-btn {
		display: inline-block;
		width: 44px;
		height: 44px;
		@media screen and (min-width: 1200px) {
			display: none;
		}
		float: left;
		margin-right: 44px;
		position: relative;
		padding: 0;
		border: none;
		outline: none;
		background-color: $bg-color;
		transition: .3s;
		&:hover {
			background-color: darken($bg-color, 2%);
		}
		svg {
			@include centerer-xy;
			width: 16px;
			height: 16px;
			fill: $second-color;
		}
	}
}
.catalog-section-desc {
	@include clearfix;
	padding-top: 36px;
	&__img {
		width: 216px;
		height: 216px;
		@media screen and (min-width: 1440px) {
			width: 270px;
			height: 270px;
		}
		float: left;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
    		object-position: center;
		}
	}
	&__txt {
		margin-left: 244px;
		height: 270px;
	    overflow: hidden;
	    position: relative;
		@media screen and (min-width: 1280px) {
			overflow: auto;
   			height: auto;
			&:after {
				display: none;
			}
			+ .catalog-section-desc__more {
				display: none;
			}
		}
		@media screen and (min-width: 1440px) {
			margin-left: 300px;
		}
	    &:after {
    	    content: "";
		    position: absolute;
		    left: 0;
		    bottom: 0;
		    width: 100%;
		    height: 100px;
		    background: linear-gradient(to bottom,rgba(255,255,255,0),#fff);
	    }
	    &.extended {
	    	overflow: auto;
   			height: auto;
   			&:after {
				display: none;
			}
			+ .catalog-section-desc__more {
				display: none;
			}
	    }
	}
	&__more {
		margin-top: 20px;
    	text-align: right;
    	span {
			color: $link-color;
			font-size: 16px;
			cursor: pointer;
			.fa {
			    font-size: 18px;
			    padding-left: 10px;
			    color: $second-color;
			}
    	}
	}
}
.catalog-section-header {
	position: relative;
	&:before {
		content: "";
	    position: absolute;
	    top: 0;
	    left: -30px;
	    height: calc(100% + 40px);
	    width: 1px;
	    background-color: #e6e6e6;
	}
}