.shift-side-block {
	display: none;
	position: absolute;
	top: 80px;
	left: 0;
	z-index: 3;
	background-color: $bg-color;
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	@media screen and (min-width: 1200px) {
		display: block;
		position: static;
		background-color: #ffffff;
		padding-top: 0;
		padding-left: 0;
		padding-right: 30px;
		padding-bottom: 0;
	}
	.shift-side-block__close {
		position: absolute;
		top: -80px;
		left: 0;
		width: 80px;
		height: 80px;
		border: none;
		outline: none;
		background-color: $bg-color;
		@media screen and (min-width: 1200px) {
			display: none;
		}
		svg {
			width: 15px;
			height: 15px;
			fill: $second-color;
		}
	}
}

.catalog-side-wrapper {
	padding: 30px;
	background-color: #fff;

	width: 320px;
	@media screen and (min-width: 1200px) {
		width: auto;
		padding: 0;
	}
}
.cats-filter {
	@media screen and (min-width: 1200px) {
		width: auto;
		margin-bottom: 40px;
		border-top: $border;
	}
	.cats-filter-prop {
		border-bottom: $border;
		&__title {
			height: 75px;
			cursor: pointer;
		}
		&__title-name {
			height: 100%;
			display: flex;
			align-items: center;
			font-size: 16px;
			font-weight: 500;
			margin: 0;
			.fa {
				display: inline-block;
				margin-right: 12px;
			}

		}
		&__cont {
			padding-bottom: 44px;
		}
	}
	.cats-filter-price {
		&__cont {
			padding-bottom: 0;
			padding-bottom: 44px;
		}
  	  	.range-input-group {

			@include clearfix;
			margin-bottom: 40px;
  		}
	 	.fx-range-wrapper {
	  		padding-left: 12px;
	  		padding-right: 12px;
	  	}
	  	.fx-range-from, .fx-range-to {
	  		width: 90px;
	  		height: 44px;
	  		border: $border;
	  		outline: none;
	  		padding-left: 10px;
	  		font-size: 14px;
	  		color: #333333;
	  	}
  	  	.fx-range-from {
	  		float: left;
	  	}
	  	.fx-range-to {
			float: right;
	  	}
  	  	.fx-range-sep {
	  		display: block;
	  		margin-left: 90px;
	  		margin-right: 90px;
	  		text-align: center;
	  		line-height: 44px;
	  	}
	  	.ui-slider-horizontal .ui-slider-handle {
			background-color: #658bd7;
			width: 24px;
			height: 24px;
			border-radius: 50%;
			top: -10px;
		    margin-left: -12px;
		    outline: none;
		    cursor: grab;
	  	}
	  	.ui-slider-horizontal .ui-slider-range {
	  		background-color: #658bd7;
	  		position: relative;
	  		z-index: 1;
	  	}
	  	.ui-slider-horizontal:before {
	  		content: "";
			position: absolute;
			left: -12px;
			right: -12px;
			height: 100%;
			z-index: 0;
			background-color: #999999;
	  	}
	  	.ui-slider-horizontal {
			background-color: #999999;
			height: 3px;
	  	}

	}
	.cats-filter-buttons {
		margin-top: 30px;
		button, input {
			width: 100%;
			margin-bottom: 20px;

		}
	}
	.check-group {
		padding-top: 14px;
		@include clearfix;
	}
	.cats-filter-check {
		display: block;
		margin-bottom: 30px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.check {
		padding-left: 2.2em;
		font-size: 14px;
		line-height: 1.34em;
		color: #333333;
		&__input {
			position: absolute;
			appearance: none;
			&:checked {
				+.check__box {
					background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.8 18.8"%3E%3Cpath fill="%23F68830" d="M16.7,16.7V8.3h2.1v8.3c0,0.6-0.2,1-0.6,1.5c-0.4,0.4-0.9,0.6-1.5,0.6H2.1c-0.6,0-1-0.2-1.5-0.6 C0.2,17.7,0,17.2,0,16.7V2.1c0-0.6,0.2-1,0.6-1.5C1.1,0.2,1.5,0,2.1,0h10.4v2.1H2.1v14.6H16.7z M5.1,7.4l3.2,3.2l8.9-8.9l1.5,1.5 L8.3,13.5L3.7,8.8L5.1,7.4z"/%3E%3C/svg%3E%0A');
				}
			}
			&:focus {
				+.check__box {

				}
			}
			&:checked:focus {
				+.check__box {

				}
			}
			&:disabled {

			}
			&:disabled:checked {

			}
		}
		&__box {
			position: absolute;
			margin-left: -2.2em;
			width: 1.34em;
			height: 1.34em;
			background-size: 1.34em 1.34em;
			background-position: center;
			background-repeat: no-repeat;
			background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.8 18.8"%3E%3Cpath fill="%23E6E6E6" d="M16.7,0c0.6,0,1,0.2,1.5,0.6c0.4,0.4,0.6,0.9,0.6,1.5v14.6c0,0.6-0.2,1-0.6,1.5c-0.4,0.4-0.9,0.6-1.5,0.6H2.1 c-0.6,0-1-0.2-1.5-0.6C0.2,17.7,0,17.2,0,16.7V2.1c0-0.6,0.2-1,0.6-1.5C1.1,0.2,1.5,0,2.1,0H16.7z M16.7,2.1H2.1v14.6h14.6V2.1z"/%3E%3C/svg%3E');
		}
	}

}

.v-multy-menu {
	@media screen and (min-width: 1200px) {
		display: block;
	}
	margin-bottom: 30px;
	color: #333333;
	&__name {
		align-items: center;
	    display: flex;
	    overflow: hidden;
	    height: 100%;
	    white-space: nowrap;
	    text-overflow: ellipsis;
	    text-decoration: none;
	    &:hover {
	    	text-decoration: underline;
	    }
	    color: inherit;
	}
	&__toggle {
		flex-shrink: 0;
		&:hover {
			color: $second-color;
		}
	}
	&__title {
		margin-top: 0;
		margin-bottom: 30px;
		font-size: 24px;
		font-weight: 500;
	}
	&__content {
		border-top: $border;
	}
	&__item {
		font-size: 14px;
		border-bottom: $border;
		&:last-child {
			border-bottom: none;
		}
	}
	&__sub {
		display: none;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			top: 17px;
			bottom: 17px;
			left: 0;
			width: 2px;
			background-color: $second-color;
		}
	}
	&__item-cont {
		width: 100%;
		height: 50px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.v-multy-menu__toggle {
			cursor: pointer;
			position: relative;
			display: inline-block;
			line-height: 50px;
			width: 16px;
			height: 16px;
			padding-left: 10px;
			&:after {
				@include centerer-xy;
				content: "+";
				font-size: 18px;
				display: inline-block;
			}
		}

		&.opened {
			.v-multy-menu__toggle:after {
				content: "–";
			}
			+.v-multy-menu__sub {
				display: block;
			}
		}
	}
	&__sub-item {
		height: 50px;
		margin-left: 17px;
		&:last-child a {
			border-bottom: none;
		}
		a {
			display: flex;
			align-items: center;
			width: 100%;
    		height: 100%;
			text-decoration: none;
			color: $link-color;
			border-bottom: $border;
			&:hover {
				text-decoration: underline;
			}
		}
		&.active {
			a {
				color: $second-color;
			}
		}
	}
}