.news-item {
	margin-bottom: 60px;
	padding-bottom: 40px;
	border-bottom: $border;
	&__top {
		display: flex;
		align-items: center;
		padding-bottom: 20px;
		margin-top: 0;
		margin-bottom: 32px;
		height: 50px;
		border-bottom: $border;
		color: #999999;
	}
	&__date {
		flex-grow: 1;
		span {
			position: relative;
			&:after {
				content: "";
				position: absolute;
				left: 0;
				bottom: -27px;
				width: 100%;
				height: 2px;
				background-color: $second-color
			}
		}
	}
	&__btn {
		display: flex;
		align-items: center;
		margin-left: 38px;
		padding-bottom: 20px;
		padding: 0;
		border: none;
		background-color: transparent;
		height: 38px;
		.btn-icon {
			display: inline-block;
			width: 38px;
			height: 38px;
			margin-right: 10px;
			border-radius: 50%;
			background-color: #f5f5f5;
			position: relative;
			svg {
				@include centerer-xy;
				width: 14px;
				height: 14px;
			}
			&.rss-icon svg {
				fill: $second-color;
			}
			&.print-icon svg {
				fill: #999999;
			}
		}
		.btn-txt {
			display: inline-block;
			font-size: 14px;
			line-height: 38px;
		}
	}
	&__img {
		width: 100%;
		height: 340px;
		margin-bottom: 25px;
		@media screen and (min-width: 1024px) {
			height: 460px;
		}
		img {
			display: block;
			width: 100%;
		    height: 100%;
		    object-fit: cover;
		    object-position: center;
		}
	}
	&__content {
		p {
			margin-top: 0;
			margin-bottom: 25px;
			font-size: 14px;
			line-height: 21px;
			color: #666666;
		}
	}
	&__author {
		margin-bottom: 60px;
		font-size: 14px;
		font-weight: 500;
		color: #333333;
	}
	&__return {
		a {
		    color: $link-color;
			text-decoration: none;
		}
		span {
		    font-size: 16px;
		    cursor: pointer;
		}
		.fa {
		    font-size: 18px;
		    padding-right: 10px;
		    color: #f68830;
		}
	}
	&__list-title {
		margin-top: 0;
		font-size: 24px;
		font-weight: 500;
	}
}
.news-item-list {
	@include swiper-buttons($right: 0, $top: -5px, $bordered: true);
	.section-header {
		margin-bottom: 20px;
	}
	.news-list-elem {
		margin: 0;
		box-sizing: border-box;
	}
}
.news-list-items.news-block {
	margin-left: 0;
	margin-right: 0;
}