.news-list-items {
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;

	.news-list-elem {
		margin-left: 15px;
		margin-right: 15px;
		margin-bottom: 30px;
		width: calc(50% - 30px);
		@media screen and (min-width: 1024px) {
			width: calc(100% / 3 - 30px);
		}
		border: $border;
		border-radius: 6px;
		overflow: hidden;
		&__img {
			width: 100%;
			height: 200px;
			img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
		}
		&__content {
			padding: 18px 15px 15px;
		}
		&__date {
			margin-top: 0;
			margin-bottom: 10px;
			font-size: 14px;
			font-weight: 400;
			color: #999999;
		}
		&__title {
			margin-top: 0;
			margin-bottom: 10px;
			$l-hight: 23px;
			font-size: 16px;
			font-weight: 400;
			line-height: $l-hight;
			height: $l-hight * 2;
			color: $link-color;
			overflow: hidden;
			a {
				color: inherit;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		&__txt {
			$l-hight: 21px;
			margin-top: 0;
			margin-bottom: 10px;
			font-size: 14px;
			line-height: $l-hight;
			height: $l-hight * 3;
			color: #666666;
			overflow: hidden;
		}
		&__btn {
			width: 120px;
			text-decoration: none;
			color: #fff;
			&:hover {
				text-decoration: inherit;
			}
		}
	}
}