.footer {
	.container {
		padding-left: 25px;
		padding-right: 25px;
	}
	background-color: $bg-footer-color;
	padding-top: 25px;
	padding-bottom: 25px;
	color: $f-footer-color_1;
	.footer-logo {
		text-align: center;
		width: 234px;
		margin-bottom: 25px;
		margin-left: auto;
		margin-right: auto;
		img {
			width: 100%;
			height: auto;
		}
	}
	.copyrights {
		text-align: center;
		font-size: 13px;
		line-height: 21px;
	}
	.copyrights__txt {
		color: $f-footer-color_2;
	}
	.copyrights__link a {
		color: inherit;
	}
	.footer-menus {
		margin-bottom: 26px;
	}
	.footer-menu {
		&.opened {
			.footer-menu__header-txt {
				color: $second-color;
			}
			.footer-menu__header-icon {
				&.footer-catalog-menu__header-icon {
					width: 18px;
					height: 15px;
				}
				svg {
					fill: $second-color;
					&.svg-opened {
						display: block;
					}
					&.svg-closed {
						display: none;
					}
				}
			}
		}
		margin-bottom: 7px;
		&__header {
			display: flex;
			align-items: center;
			padding-left: 14px;
			padding-right: 14px;
			width: 100%;
			height: 44px;
			border-radius: 2px;
			background-color: #2e2e2e;
			cursor: pointer;
			&:hover {
				svg {
					fill: $second-color;
				}
				.footer-menu__header-txt {
					color: $second-color;
				}
			}
		}
		&__header-icon {
			display: block;
			width: 17.5px;
			height: 17.5px;
			margin-right: 16px;
			svg {
				width: 100%;
				height: 100%;
				fill: #ffffff;
				&.svg-opened {
					display: none;
				}
				&.svg-closed {
					display: block;
				}
			}
		}
		&__header-txt {
			font-size: 14px;
			font-weight: 500;
		}
		&__arrow {
			font-size: 16px;
			color: #737373;
			flex-grow: 1;
			text-align: right;
		}
		&__list {
			display: none;
		}
		&__item {
			display: block;
			height: 44px;
			border-bottom: 1px solid #5c5c5c;
			color: #ffffff;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			a {
				display: block;
				padding-left: 14px;
				padding-right: 14px;
				line-height: 44px;
				color: inherit;
				text-decoration: none;
			}
			&:hover {
				a {
					color: $second-color;
				}
			}
		}
	}
	.footer-contacts {
		font-size: 14px;
		color: #ffffff;
		margin-bottom: 30px;
		.footer-phones {
			margin-bottom: 15px;
			font-weight: 500;
			&__item {
				margin-bottom: 9px;
				a {
					color: inherit;
					text-decoration: none;
				}
			}

		}
		&__schedule {
			margin-bottom: 15px;
		}
		&__mail {
			a {
				color: inherit;
				text-decoration: none;
			}
		}
	}
	.footer-social-links {
		margin-bottom: 15px;
		text-align: center;
		font-size: 0;
		.footer-social-link {
			width: 60px;
			height: 60px;
			border: none;
			outline: none;
			padding: 0;
			background-color: transparent;
			font-size: 22px;
			line-height: 60px;
			text-align: center;
			opacity: .25;
			svg {
				width: 20px;
				height: 20px;
				fill: #ffffff;
			}
			&:hover {
				opacity: 1;
			}
		}
	}
}