.catalog-compare {
	display: flex;
	margin-left: -15px;
	margin-right: -15px;

	&__side-bar {
		width: calc(100% / 3 - 30px);
		@media screen and (min-width: 1024px) {
			width: calc(25% - 30px);
		}
		margin-left: 15px;
		margin-right: 15px;
	}
	&__control {
		height: 444px;
		padding: 15px;
		border: $border;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
		border-bottom: none;
		.ctrl-btn {
			margin-bottom: 18px;
			padding: 0;
			border: none;
			outline: none;
			background-color: transparent;
			text-align: left;
			&__img {
				display: inline-block;
				width: 18px;
				height: 18px;
				border-radius: 50%;
				border: 1px solid #666666;
				position: relative;
				vertical-align: middle;
				margin-right: 8px;
				svg {
					@include centerer-xy;
					width: 10px;
					height: 10px;
					fill: #666666;
				}
			}
			&__txt {
				font-size: 14px;
				line-height: 18px;
				color: #333333;
			}
		}
	}
	&__control-group {
		margin-top: 30px;
		.campare-show-all,
		.campare-show-diff {
			svg {
				display: none;
				fill: $second-color;
			}
			&.selected {
				.ctrl-btn__img {
					border-color: $second-color;
				}
				svg {
					display: inline-block;
				}
			}

		}
	}
	&__prop-names-block {
		position: relative;
		width: 100%;
		background-color: #fff;
		box-shadow: $box-shadow;
	}
	&__prop-header {
		position: absolute;
		left: 15px;
		top: -40px;
		margin: 0;
		font-size: 16px;
		line-height: 16px;
		font-weight: 500;
		color: #333333;
	}
	&__prop-names {
		border-left: $border;
		border-right: $border;
		border-bottom: $border;
		border-bottom-left-radius: 6px;
		overflow: hidden;
	}
	&__prop-name {
	    height: 34px;
	    padding: 0 15px;
	    text-align: left;
	    font-size: 14px;
	    line-height: 34px;
	    white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    &:nth-child(odd) {
		    background-color: #f5f5f5;
		}
	}
	&__products {
		width: calc(100% / 3 * 2 - 30px);
		@media screen and (min-width: 1024px) {
			width: calc(100% / 4 * 3 - 30px);
		}
		margin-left: 15px;
		margin-right: 15px;
	}
	.catalog-compare-item {
		position: relative;
		padding: 25px 15px 15px;
		box-sizing: border-box;
		border: $border;
		border-radius: 6px;
		margin-bottom: 46px;
		&__del {
			position: absolute;
			width: 32px;
			height: 32px;
			padding: 0;
			border-radius: 2px;
			background-color: $first-color;
			&:hover {
				background-color: darken($first-color, 10%);
			}
			top: 12px;
			right: 15px;
			border: none;
			outline: none;
			cursor: pointer;
			svg {
				@include centerer-xy;
				width: 10px;
				height: 10px;
				fill: #fff;
			}
		}
		&__img {
			width: 170px;
			height: 170px;
			margin-bottom: 20px;
			margin-left: auto;
			margin-right: auto;
			background-color: #fff;
			a {
				display: block;
				width: 100%;
				height: 100%;
			}
			img {
			    display: block;
			    height: 100%;
			    width: 100%;
			    object-fit: cover;
			    object-position: center;
			}
		}
		&__title {
			$l-height: 23px;
			margin-top: 0;
			margin-bottom: 20px;
			font-size: 16px;
			line-height: $l-height;
			height: $l-height * 3;
			overflow: hidden;
			a {
				color: $first-color;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		&__price {
			margin-top: 0;
			margin-bottom: 20px;
			font-size: 18px;
			font-weight: 500;
			color: #222222;
		}
		&__buttons {
			height: 38px;
			display: flex;
			justify-content: space-between;
		}
		&__prop {
			height: 34px;
			padding: 0 15px;
			text-align: center;
			font-size: 14px;
			line-height: 34px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			&:nth-child(odd) {
				background-color: #f5f5f5;
			}
			/* &:nth-child(n+6) {
				display: none;
			} */
		}
	}
}
.swiper-container-horizontal>.catalog-compare-scrollbar {
	height: 6px;
	left: 0;
	top: 418px;
	width: 100%;
	.swiper-scrollbar-drag {
		background-color: $first-color;
	}
}