.about-page__img {
	width: 100%;
	height: 230px;
	@media screen and (min-width: 1024px) {
		height: 310px;
	}
	@media screen and (min-width: 1200px) {
		height: 380px;
	}
	margin-bottom: 30px;
	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}

.benefits-about {
	display: flex;
	flex-wrap: wrap;
	margin-top: 30px;
	margin-left: -15px;
	margin-right: -15px;
	&__item {
		display: flex;
		align-items: center;
		width: calc(50% - 30px);
		@media screen and (min-width: 1024px) {
			width: calc(100% / 3 - 30px);
		}
		height: 100px;
		margin-left: 15px;
		margin-right: 15px;
		margin-bottom: 30px;
		padding-left: 25px;
		padding-right: 25px;
		border: $border;
		border-radius: 6px;
		&:nth-child(n) {
			.benefits-about__txt {
				margin: 0;
			}
		}
		&:nth-child(1) {
			$item-color: #3366cc;
			.benefits-about__img svg {
				fill: $item-color;
			}
			.benefits-about__txt {
				color: $item-color;
			}
		}
		&:nth-child(2) {
			$item-color: #5bb94f;
			.benefits-about__img svg {
				fill: $item-color;
			}
			.benefits-about__txt {
				color: $item-color;
			}
		}
		&:nth-child(3) {
			$item-color: #f68830;
			.benefits-about__img svg {
				fill: $item-color;
			}
			.benefits-about__txt {
				color: $item-color;
			}
		}
	}
	&__img {
		width: 50px;
		height: 55px;
		margin-right: 25px;
		svg {
			display: block;
			width: 100%;
			height: 100%;
		}
	}
}
