.catalog-list-items {
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
	margin-top: -30px;
}
.cat-list-elem {
	display: flex;
	width: calc(100% - 30px);
	@media screen and (min-width: 1024px) {
		width: calc(50% - 30px);
	}
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 30px;
	padding: 20px;
	border: $border;
	border-radius: 6px;
	background-color: #fff;
	&__img {
		width: 180px;
		height: 180px;
		margin-right: 20px;
		img {
			display: block;
		    height: 100%;
		    width: 100%;
		    object-fit: cover;
		    object-position: center;
		}
	}
	&__title {
		margin-top: 0;
		margin-bottom: 20px;
		font-size: 16px;
		font-weight: 500;
		color: #333333;
		a {
			color: inherit;
			text-decoration: none;
			&:hover {
				color: $link-color;
			}
		}
	}
	&__sub {
		margin-top: 0;
		margin-bottom: 16px;
	}
	&__sub-elem {
		margin-bottom: 10px;
		font-size: 14px;
		font-weight: 400;
		color: #666666;
		a {
			color: inherit;
			text-decoration: none;
			&:hover {
				color: $link-color;
			}
		}
	}
	&__more {
		margin-top: 20px;
    	text-align: left;
    	font-size: 14px;
    	color: $link-color;
    	a {
    		color: inherit;
    		text-decoration: none;
    	}
    	span {
    		cursor: pointer;
	    	.fa {
			    padding-left: 10px;
	    		font-size: 18px;
	    		vertical-align: middle;
			    color: #f68830;
	    	}
    	}
	}
}