.page-block {
	padding-top: 20px;
}
.filter-block {
	display: none;
    position: absolute;
    top: -70px;
    z-index: 10;
	width: 100%;
	min-height: 100vh;
	&__close {
		position: absolute;
		top: -70px;
		left: 0;
		width: 70px;
		height: 70px;
		background-color: $bg-color;
		padding: 0;
		border: none;
		outline: none;
		svg {
			width: 15px;
			height: 15px;
			@include centerer-xy;
			fill: $second-color;
		}
	}
	&.opened {
		display: block;
	}
	&__title {
		margin-top: 0;
		font-size: 18px;
		font-weight: 500;
	}
	margin-bottom: 40px;
	background-color: $bg-color;
	padding-top: 30px;
	padding-bottom: 20px;

	.cats-filter {
		background-color: #ffffff;
		padding: 25px 48px;
	}
	.cats-filter-prop {
		border-bottom: $border;
		&__title {
			height: 75px;
			cursor: pointer;
		}
		&__title-name {
			height: 100%;
			display: flex;
			align-items: center;
			font-size: 16px;
			font-weight: 500;
			margin: 0;
			.fa {
				display: inline-block;
				margin-right: 12px;
			}

		}
		&__cont {
			padding-bottom: 44px;
		}
	}
	.cats-filter-price {
  	  	.range-input-group {
			margin-bottom: 40px;
  		}
	 	.fx-range-wrapper {
	  		padding-left: 12px;
	  		padding-right: 12px;
	  	}
	  	.fx-range-from, .fx-range-to {
	  		width: 90px;
	  		height: 44px;
	  		border: $border;
	  		outline: none;
	  		padding-left: 10px;
	  		font-size: 14px;
	  		color: #333333;
	  	}
  	  	.fx-range-from {
	  		float: left;
	  	}
	  	.fx-range-to {
			float: right;
	  	}
  	  	.fx-range-sep {
	  		display: block;
	  		margin-left: 90px;
	  		margin-right: 90px;
	  		text-align: center;
	  		line-height: 44px;
	  	}
	  	.ui-slider-horizontal .ui-slider-handle {
			background-color: #658bd7;
			width: 24px;
			height: 24px;
			border-radius: 50%;
			top: -10px;
		    margin-left: -12px;
		    outline: none;
		    cursor: grab;
	  	}
	  	.ui-slider-horizontal .ui-slider-range {
	  		background-color: #658bd7;
	  		position: relative;
	  		z-index: 1;
	  	}
	  	.ui-slider-horizontal:before {
	  		content: "";
			position: absolute;
			left: -12px;
			right: -12px;
			height: 100%;
			z-index: 0;
			background-color: #999999;
	  	}
	  	.ui-slider-horizontal {
			background-color: #999999;
			height: 3px;
	  	}

	}
	.cats-filter-buttons {
		margin-top: 30px;
		button {
			margin-bottom: 20px;
		}
	}
	.check-group {
		padding-top: 14px;
	}
	.cats-filter-check {
		display: block;
		margin-bottom: 30px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.check {
		padding-left: 2.2em;
		font-size: 14px;
		line-height: 1.34em;
		color: #333333;
		&__input {
			position: absolute;
			appearance: none;
			&:checked {
				+.check__box {
					background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.8 18.8"%3E%3Cpath fill="%23F68830" d="M16.7,16.7V8.3h2.1v8.3c0,0.6-0.2,1-0.6,1.5c-0.4,0.4-0.9,0.6-1.5,0.6H2.1c-0.6,0-1-0.2-1.5-0.6 C0.2,17.7,0,17.2,0,16.7V2.1c0-0.6,0.2-1,0.6-1.5C1.1,0.2,1.5,0,2.1,0h10.4v2.1H2.1v14.6H16.7z M5.1,7.4l3.2,3.2l8.9-8.9l1.5,1.5 L8.3,13.5L3.7,8.8L5.1,7.4z"/%3E%3C/svg%3E%0A');
				}
			}
			&:focus {
				+.check__box {

				}
			}
			&:checked:focus {
				+.check__box {

				}
			}
			&:disabled {

			}
			&:disabled:checked {

			}
		}
		&__box {
			position: absolute;
			margin-left: -2.2em;
			width: 1.34em;
			height: 1.34em;
			background-size: 1.34em 1.34em;
			background-position: center;
			background-repeat: no-repeat;
			background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.8 18.8"%3E%3Cpath fill="%23E6E6E6" d="M16.7,0c0.6,0,1,0.2,1.5,0.6c0.4,0.4,0.6,0.9,0.6,1.5v14.6c0,0.6-0.2,1-0.6,1.5c-0.4,0.4-0.9,0.6-1.5,0.6H2.1 c-0.6,0-1-0.2-1.5-0.6C0.2,17.7,0,17.2,0,16.7V2.1c0-0.6,0.2-1,0.6-1.5C1.1,0.2,1.5,0,2.1,0H16.7z M16.7,2.1H2.1v14.6h14.6V2.1z"/%3E%3C/svg%3E');
		}
	}
}
.catalog-section {
	padding-bottom: 30px;
	border-bottom: $border;
}
.catalog-section-top {
	height: 44px;
	margin-bottom: 20px;
	@include clearfix;

	.catalog-section-tune-btn {
		float: left;
		display: inline-block;
		float: left;
		position: relative;
		padding: 0;
		border: none;
		outline: none;
		background-color: $bg-color;
		width: 44px;
		height: 44px;
		svg {
			@include centerer-xy;
			width: 16px;
			height: 16px;
			fill: $second-color;
		}
	}
	.catalog-section-sort {
		position: relative;
		float: right;
		&__item {
			display: inline-block;
			position: relative;
			width: 220px;
			padding-top: 0;
		    padding-bottom: 0;
			padding-left: 15px;
			padding-right: 15px;
			border: none;
		    outline: none;
			font-size: 14px;
			text-align: left;
			height: 44px;
			line-height: 44px;
			text-decoration: none;
			background-color: #f5f5f5;
			color: #999999;
			transition: .3;
			border-radius: 2px;
			.fa {
				position: absolute;
				right: 15px;
				line-height: 44px;
				color: #333333;
			}
			svg {
				display: inline-block;
				margin-right: 5px;
				vertical-align: text-bottom;
				width: 15px;
				height: 15px;
				fill: #999999;
			}
			svg {
				display: none;
			}
			&.sort-asc {
				svg.asc-dir {
					display: inline-block;
				}
			}
			&.sort-desc {
				svg.desc-dir {
					display: inline-block;
				}
			}
			&:hover {
				background-color: darken(#f5f5f5, 3%);
			}
			a {
				display: block;
				position: relative;
				text-decoration: none;
				color: inherit;
				&:after {
					content: "";
					z-index: 2;
					position: absolute;
					top: 100%;
					left: 0;
					width: 100%;
					height: 1px;
					background-color: #e6e6e6;
				}
			}
			&:last-child {
				a {
					&:after {
						display: none;
					}
				}
			}
		}
		&__drop-box {
			display: none;
			position: absolute;
			z-index: 3;
			top: 100%;
			left: 0;
			width: 100%;
			border: $border;
			background-color: #ffffff;
			border-radius: 4px;
			overflow: hidden;
			box-shadow: $box-shadow;
			transition: .3s;
			.catalog-section-sort__item {
				background-color: #ffffff;
				&:hover {
					background-color: darken(#ffffff, 7%);
				}
			}
		}
	}
}
.catalog-section-desc {
	padding-top: 36px;
	&__img {
		width: 216px;
		height: 216px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 40px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
    		object-position: center;
		}
	}
	&__txt {
		height: 270px;
	    overflow: hidden;
	    position: relative;
	    &:after {
    	    content: "";
		    position: absolute;
		    left: 0;
		    bottom: 0;
		    width: 100%;
		    height: 100px;
		    background: linear-gradient(to bottom,rgba(255,255,255,0),#fff);
	    }
	    &.extended {
	    	overflow: auto;
   			height: auto;
   			&:after {
				display: none;
			}
			+ .catalog-section-desc__more {
				display: none;
			}
	    }
	}
	&__more {
		margin-top: 20px;
    	text-align: right;
    	span {
			color: $link-color;
			font-size: 16px;
			cursor: pointer;
			.fa {
			    font-size: 18px;
			    padding-left: 10px;
			    color: $second-color;
			}
    	}
	}
}