.elem-block__section {
	padding-bottom: 50px;
}
.product-main {
	@media screen and (min-width: 1024px) {
		display: flex;
	}
}
.product-gallery-wrapper {
	height: 500px;
	text-align: center;
	margin-bottom: 60px;
	@media screen and (min-width: 1024px) {
		margin-bottom: 0;
	}
	//transform: translateX(-40px);
	margin-left: -80px;
	@media screen and (min-width: 1024px) {
		margin-right: 44px;
	}
	@media screen and (min-width: 1280px) {
		//transform: translateX(0);
		margin-left: 0;
	}
}
.title-wrapper {
	.product-title {
		margin-top: 0;
		margin-bottom: 60px;
		font-size: 30px;
		font-weight: 500;
		line-height: 38px;
		color: #222;
	}
	.product-v-code {
		margin-top: 0;
		margin-bottom: 28px;
		padding-bottom: 25px;
		border-bottom: $border;
		font-size: 14px;
		color: #333;
		span {
			position: relative;
			&:after {
				content: "";
				position: absolute;
				left: 0;
				bottom: -27px;
				width: 100%;
				height: 2px;
				background-color: $second-color;
			}
		}
	}
}
.description-wrapper {
	@media screen and (min-width: 1400px) {
		display: flex;
		.inner-wrapper:first-child {
			margin-right: 30px;
		}
	}
}

.product-excerpt { // delete files
	font-size: 14px;
	color: #666666;
	&__txt {
		line-height: 21px;
	}
	&__more {
		margin-top: 20px;
    	text-align: left;
    	span {
    		cursor: pointer;
	    	.fa {
			    padding-left: 10px;
	    		font-size: 18px;
	    		vertical-align: middle;
			    color: #f68830;
	    	}
    	}
	}
}
.product-upload { // upload files
	margin-top: 32px;
	margin-bottom: 32px;
	&__title {
		margin-bottom: 15px;
		font-size: 16px;
		font-weight: 500;
		color: #222222;
	}
	&__link {
		display: inline-block;
		line-height: 24px;
		text-decoration: none;
		svg {
			display: inline-block;
			width: 24px;
			height: 24px;
			vertical-align: middle;
			margin-right: 8px;
			fill: $link-color;
		}
		span {
			display: inline-block;
			font-size: 14px;
			line-height: 24px;
			color: $link-color;
		}
	}
}
.product-sale {
	@include clearfix;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 0;
	.product-amount {
		float: left;
		margin-right: 30px;
		&__input,
		&__btn {
			width: 44px;
			height: 44px;
			border: none;
			outline: none;
			background-color: #f5f5f5;
			border: 2px solid #f5f5f5;
			font-size: 16px;
			text-align: center;
		}
		&__input {
			color: #333333;
			border-top-left-radius: 2px;
			border-bottom-left-radius: 2px;
			&:focus {
				background-color: #ffffff;
			}
		}
		&__btn {
			font-weight: 500;
			color: #999999;
			margin-right: 12px;
			border-top-right-radius: 2px;
			border-bottom-right-radius: 2px;
			&:hover {
				background-color: darken(#f5f5f5, 4%);
			}
		}
		&__units {
			font-size: 18px;
		}
	}
	.product-price {
		float: left;
		font-size: 28px;
		font-weight: 500;
		line-height: 44px;
		color: #333333;
		position: relative;
		&__old-price {
			position: absolute;
			top: -20px;
			left: 0;
			font-size: 18px;
			font-weight: 400;
			line-height: 1;
			color: #999999;
			text-decoration: line-through;
		}
	}
}

.product-gallery {
	position: relative;
	display: inline-flex;
	align-items: center;
	text-align: left;

	.gallery-thumbs,
	.product-gallery-prev,
	.product-gallery-next {
		visibility: hidden;
		@media screen and (min-width: 1280px) {
			visibility: visible;
		}
	}
	.product-gallery-prev,
	.product-gallery-next {
		position: absolute;
		width: 60px;
		height: 30px;
		left: 0;
		outline: none;
		z-index: 2;
		cursor: pointer;
		&:after {
			font-family: FontAwesome;
			font-size: 20px;
			color: #cccccc;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		&:hover:after {
			color: $second-color;
		}
	}
	.product-gallery-prev {
		top: 0;
		&:after {
			content: "\f106";
		}
	}
	.product-gallery-next {
		bottom: 0;
		&:after {
			content: "\f107";
		}
	}
	.product-gallery__pagination {
		position: absolute;
		width: 450px;
		text-align: center;
		bottom: -42px;
		right: 0;
		z-index: 2;
		.swiper-pagination-bullet {
			width: 12px;
			height: 12px;
			margin-left: 7px;
			margin-right: 7px;
			background-color: #f2f2f2;
			opacity: 1;
			line-height: 16px;
			vertical-align: middle;
			outline: none;
		}
		.swiper-pagination-bullet-active {
			background-color: $second-color;
			width: 16px;
			height: 16px;
		}
	}
	.swiper-container {
		position: relative;
		margin: 0;
	}
	.swiper-wrapper {
		z-index: 0;
	}
	.swiper-slide {
		background-size: cover;
		background-position: center;
	}
	.gallery-top {
		height: 450px;
		width: 450px;
	}
	.gallery-thumbs {
		position: relative;
		height: 360px;
		width: 60px;
		margin-right: 20px;
		.swiper-slide-thumb-active:after {
			content: "";
			position: absolute;
			left: 0;
			bottom: -2px;
			width: 100%;
			height: 2px;
			background-color: $second-color;
		}
		.swiper-slide {
			width: 100%;
			opacity: 0.4;
			background-color: #ececec;
		}
		.swiper-slide-thumb-active {
			opacity: 1;
		}
	}
}

.gallery-thumbs .video-slide,
.gallery-top .video-slide,
.gallery-bottom .product-detail__v-content {
	cursor: pointer;
	position: relative;
	&:before {
		position: absolute;
		z-index: 2;
		@include centerer-xy;
		content: "";
		background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="68" height="48" viewBox="0 0 68 48"%3E%3Cpath fill="%23658bd7" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"%3E%3C/path%3E%3Cpath fill="%23ffffff" d="M 45,24 27,14 27,34"%3E%3C/path%3E%3C/svg%3E');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
}
.gallery-thumbs .video-slide {
	&:before {
		width: 24px;
		height: 17px;
	}
}
.gallery-top .video-slide,
.gallery-bottom .product-detail__v-content {
	&:before {
		width: 68px;
		height: 48px;
	}
}
.gallery-thumbs .swiper-slide {
	cursor: pointer;
}
.gallery-thumbs .swiper-slide,
.gallery-top .swiper-slide {
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
    	object-position: center;
	}
}
#gallery-modal {
	display: none;
}
.gallery-modal-window {
	padding: 10px;
	width: 768px;
}
.video {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	background-color: #000;
	&__media {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: none;
	}
	&__button {
		display: none;
		position: absolute;
		top: 50%;
		left: 50%;
		padding: 0;
		width: 68px;
		height: 48px;
		border: none;
		outline: none;
		background-color: transparent;
		transform: translate(-50%, -50%);
		cursor: pointer;
	}
	.video__button-shape {
		fill: #212121;
		fill-opacity: .8;
	}
	.video__button-icon {
		fill: #ffffff;
	}
}
.video--enabled {
	cursor: pointer;
	.video__button {
		display: block;
	}
}
.video:hover .video__button-shape,
.video__button:focus .video__button-shape {
	fill: #ff0000;
	fill-opacity: 1;
}

.product__available {
	font-size: 14px;
	color: #333333;
	svg {
		display: inline-block;
	    margin-right: 5px;
	    width: 9px;
	    height: 9px;
	}
	.absent, .present {
		margin-top: 0;
		margin-bottom: 20px;
	}
	.absent {
		svg {
			fill: $sixth-color;
		}
	}
	.present {
		.present__few {
			color: $sixth-color;
		}
		.present__lot {
			color: $fourth-color;
		}
		svg {
			fill: $fourth-color;
		}
	}
}

.product-item--few {
	.product__available {
		.absent {
			display: none;
		}
		.present {
			.present__few {
				display: inline-block;
			}
			.present__lot {
				display: none;
			}
			svg {
				fill: $sixth-color;
			}
		}
	}
}
.product-item--lot {
	.product__available {
		.absent {
			display: none;
		}
		.present {
			.present__few {
				display: none;
			}
			.present__lot {
				display: inline-block;
			}
			svg {
				fill: $fourth-color;
			}
		}
	}
}
.product-item--absent {
	.product__available {
		.absent {
			display: inline-block;
		}
		.present {
			display: none;
		}
	}
	.product__have {
		display: none;
	}
	.product__report {
		display: block;
	}
}

.product {
	&__buy-more {
		width: 330px;
		height: 44px;
		margin-bottom: 26px;
		@include clearfix;
	}
	&__have {
		display: block;
	}
	&__report {
		display: none;
		width: 100%;
		svg {
			padding-bottom: 3px;
			display: inline-block;
			vertical-align: middle;
			width: 15px;
			height: 15px;
			fill: #ffffff;
		}
		span {
			margin-left: 5px;
			display: inline-block;
		}

	}
	&__buy {
		float: left;
		width: 180px;
		button {
			height: 44px;
		}
		.in-cart, .to-cart {
			margin: 0;
			display: inline-block;
		}
		.in-cart {
			display: none;
			svg {
				fill: $fourth-color;
				display: inline-block;
				width: 15px;
				height: 15px;
				margin-right: 5px;
				vertical-align: middle;
			}
		}
		&.done {
			button {
				background-color: #f0f0f0;
				color: #999999;
				cursor: not-allowed;
			}
			.in-cart {
				display: block;
			}
			.to-cart {
				display: none;
			}
		}
	}
	&__more {
		$btn-color: #cccccc;
		float: right;
		@include clearfix;
		.favorites, .compare {
			width: 44px;
			height: 44px;
			display: block;
			float: right;
			margin-left: 5px;
			transition: .3s;
			svg {
				display: inline-block;
				width: 15px;
				height: 15px;
				fill: $btn-color;
			}
			&:hover {
				border-color: darken($btn-color, 10%);
				svg {
					fill: darken($btn-color, 10%);
				}
			}
		}
		.compare {
			&.done svg {
				fill: $second-color;
			}
		}
		.favorites {
			svg.to-favorites {
				display: inline-block;
			}
			svg.in-favorites {
				display: none;
				fill: $second-color;
			}
			&.done svg {
				&.to-favorites {
					display: none;
				}
				&.in-favorites {
					display: inline-block;
				}
			}
		}
	}
}
.product-call {
	font-size: 0;
	&__title {
		margin-bottom: 20px;
		font-size: 18px;
		font-weight: 500;
		color: #333;
	}
	&__input,
	&__btn {
		display: inline-block;
		height: 44px;
		border: none;
		outline: none;
		background-color: #f5f5f5;
		border: 2px solid #f5f5f5;
		font-size: 16px;
	}
	&__input {
		width: calc(100% - 44px);
		height: 44px;
		padding-left: 20px;
		color: #333333;
		border-top-left-radius: 2px;
		border-bottom-left-radius: 2px;
		color: #999999;
		&:focus {
			background-color: #ffffff;
		}
	}
	&__btn {
		width: 44px;
		height: 44px;
		border-top-right-radius: 2px;
		border-bottom-right-radius: 2px;
		&:hover {
			background-color: darken(#f5f5f5, 4%);
		}
		svg {
			width: 15px;
			height: 15px;
			fill: #999999;
		}
	}
}

.product-detail {
	display: block;
	&__tab {
		position: relative;
	    display: inline-block;
	    padding-bottom: 24px;
	    margin-right: 30px;
	    cursor: pointer;
	    font-size: 18px;
	    color: #333;
	    &.active:after {
    	    content: "";
		    position: absolute;
		    bottom: -1px;
		    left: 0;
		    width: 100%;
		    height: 2px;
		    background-color: #f68830;
	    }
	}
	&__content {
		padding-top: 30px;
		padding-bottom: 30px;
		@media screen and (min-width: 1024px) {
			padding-left: 30px;
			padding-right: 30px;
		}
		border-top: $border;
		border-bottom: $border;
	}
	&__elem {
		display: none;
		&.shown {
			display: block;
		}
	}
	&__title {
		margin-top: 0;
		margin-bottom: 25px;
		font-size: 24px;
		font-weight: 400;
		color: #999999;
		.tab-title {
			font-weight: 500;
			color: #333333;
		}
	}
	p {
		font-size: 14px;
		line-height: 21px;
		margin-top: 0;
		margin-bottom: 20px;
	}
	h4 {
		margin-top: 24px;
		margin-bottom: 15px;
		font-size: 18px;
		font-weight: 500;
	}
	&__table {
		width: 100%;
		font-size: 14px;
		border-collapse: collapse;
		tr:nth-child(odd) {
			background-color: #f5f5f5;
		}
		td {
			width: 50%;
			padding: 12px 15px;
			color: #333333;
			&:first-child {
				color: #666666;
			}
		}
	}
	ol {
		margin-top: 18px;
		margin-bottom: 18px;
		padding: 0;
		counter-reset: detail-counter;
		li {
			position: relative;
			padding-left: 20px;
			font-size: 14px;
			margin-bottom: 8px;
			counter-increment: detail-counter;
			&:before {
				content: counter(detail-counter) ". ";
				position: absolute;
				left: 0;
			}
		}
	}
	strong {
		font-weight: 500;
	}
	&__wrapper {
		margin-left: -15px;
		margin-right: -15px;
		display: flex;
		flex-wrap: wrap;
	}
	&__v-block {
		position: relative;
		width: calc(50% - 30px);
		border-radius: 4px;
		overflow: hidden;
		@media screen and (min-width: 1024px) {
			width: calc(100% / 3 - 30px);
		}
		@media screen and (min-width: 1380px) {
			width: calc(25% - 30px);
		}
		margin-left: 15px;
		margin-right: 15px;
		margin-bottom: 30px;
		background-color: #fff;
		border: $border;
	}
	&__v-content {
		position: relative;
	    width: 100%;
	    height: 0;
	    padding-bottom: 56.25%;
	    background-color: #ccc;
	    img {
	    	width: 100%;
	    	height: 100%;
	    }
	}
	&__v-txt {
		p {
			margin-top: 20px;
			padding-left: 20px;
			padding-right: 20px;
			font-size: 16px;
			line-height: 23px;
			height: 46px;
			overflow: hidden;
		}
	}
}
.product-with {
	.section-header {
	    @media screen and (min-width: 1024px) {
			margin-bottom: 30px;
	    }
	}
	&__title {
		font-size: inherit;
	    font-weight: inherit;
	    margin: inherit;
	    @media screen and (min-width: 1024px) {
			font-size: 24px;
	    }
	}
	@include swiper-buttons($right: 0, $top: -5px, $bordered: true);
}

.outer-wrapper {
	flex-grow: 1;
}
.inner-wrapper--top {
	display: flex;
	margin-bottom: 55px;
	@media screen and (min-width: 1024px) {
		flex-grow: 1;
		display: block;
		margin-bottom: 0;
    }

    .contacts-block,
    .main-desc-block {
		width: calc(50% - 10px);
		@media screen and (min-width: 1024px) {
			width: 100%;
	    } //main-desc-block removing
    }
    .contacts-block {
		margin-right: 10px;
		@media screen and (min-width: 1024px) {
			margin-right: 0;
			margin-bottom: 24px;
		}
		&__header {
			@media screen and (min-width: 1024px) {
				font-size: 24px;
	    	}
		}
    }
	.main-desc-block {
		margin-left: 10px;
		@media screen and (min-width: 1024px) {
			margin-left: 0;
	    }
	} //main-desc-block removing
}

.product-main .contacts-block {
	padding: 22px;
	background-color: $bg-color;
	@media screen and (min-width: 1024px) {
		padding: 25px 10%;
    }
    &__header {
    	margin-top: 0;
    	margin-bottom: 18px;
    	font-size: 22px;
    	font-weight: 500;
    }
    &__phone {
		margin-bottom: 16px;
	    font-size: 16px;
	    color: #333;
	    .phone-icon {
	    	display: inline-block;
			width: 30px;
			svg {
				width: 22px;
			    height: 22px;
			    vertical-align: middle;
    			&.phone-fill {
    				fill: #2765cb;
    			}
    			&.kievstar-fill {
    				fill: #fbd92f;
    			}
    			&.vodafone-fill {
    				fill: #e63c45;
    			}
			}
	    }
	    .phone-code {
	    	color: #999;
	    }
    }
    &__schedule {
    	margin-top: 30px;
	    padding-top: 16px;
	    padding-bottom: 16px;
	    border-radius: 4px;
	    background-color: #e9d9c3;
	    text-align: center;
	    font-size: 14px;
	    font-weight: 500;
	    color: #333;
    }
}

// ------------seiries prods--------------
.inner-wrapper--top {
	.contacts-block {
		@media screen and (min-width: 1400px) {
			display: none;
		}
		@media screen and (min-width: 1600px) {
			display: block;
		}
	}
	.main-desc-block {
		position: relative;
		&-inner {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 464px;
		}

		@media screen and (min-width: 1024px) {
			min-height: 464px;
			margin-bottom: 40px;
		}
		@media screen and (min-width: 1600px) {
			position: relative;
			width: calc(100% + 360px);
			margin-bottom: 0;
		}
	}
	.series-block {
		.catalog-item {
			box-sizing: border-box;
		}
		.product-with__title {
			margin-bottom: 22px;
		}
		.catalog-item__price {
			padding-top: 10px;
		}
		@media screen and (min-width: 1440px) {
			.catalog-item__img {
				width: 180px;
				height: 180px;
			}
		}
	}
}

.inner-wrapper--bottom {
	.contacts-block {
		display: none;
		margin-top: 26px;
		&__header {
			font-size: 21px;
		}
		@media screen and (min-width: 1400px) {
			display: block;
		}
		@media screen and (min-width: 1600px) {
			display: none;
		}
	}
}

.description-wrapper.no-series {
	.main-desc-block {
		display: none;
	}
	display: flex;
	align-items: stretch;
	@media screen and (min-width: 1024px) {
		display: block;
		.contacts-block {
			margin-bottom: 40px;
		}
	}
	@media screen and (min-width: 1400px) {
		display: flex;
		.contacts-block {
			display: block;
		}
	}
	.inner-wrapper--top {
		flex-grow: 1;
		.contacts-block {
			width: 100%;
		}
		margin-bottom: 0;
	}
	.inner-wrapper--bottom {
		margin-left: 20px;
		.contacts-block {
			display: none;
		}
		@media screen and (min-width: 1024px) {
			margin-left: 0;
		}
	}
}
