.regular-block {
	p {
		margin-top: 0;
		margin-bottom: 20px;
		font-size: 14px;
		line-height: 21px;
		color: #666666;
	}
	.delivery-list-header {
		margin-top: 0;
		margin-bottom: 20px;
		font-size: 14px;
		font-weight: 500;
		color: #333333;
	}
	.delivery-list {
		//margin-bottom: 20px;
		@include clearfix;
		&__item {
			float: left;
			position: relative;
			width: 120px;
			height: 80px;
			margin-right: 20px;
			margin-bottom: 20px;
			border: $border;
			border-radius: 6px;
			img {
				display: block;
				width: 85px;
				height: auto;
				@include centerer-xy;
			}
		}
	}
	.delivery-detail-list {
		.delivery-detail-item {
			margin-bottom: 20px;
			&__header {
				margin-bottom: 20px;
			}
			&__logo {
				position: relative;
				width: 100%;
				height: 150px;
				margin-bottom: 20px;
				border: $border;
				border-radius: 6px;
				img {
					display: block;
					width: 150px;
					height: auto;
					@include centerer-xy;
				}
			}
			&__more {
				span {
					color: #658bd7;
				    font-size: 16px;
				    cursor: pointer;
				}
				.fa {
					font-size: 18px;
				    padding-left: 10px;
				    color: #f68830;
				    vertical-align: middle;
				}
			}
			&__content {
				display: none;
				h4 {
					margin-top: 0;
					margin-bottom: 12px;
					font-size: 16px;
					font-weight: 500;
					color: #333333;
				}
				ul {
					margin-top: 25px;
    				margin-bottom: 25px;
				}
				li {
					position: relative;
				    padding-left: 25px;
				    margin-top: 0;
				    margin-bottom: 16px;
				    font-size: 14px;
				    line-height: 21px;
				    color: #666;
				    &:before {
			    	    content: "";
					    position: absolute;
					    top: 8px;
					    left: 0;
					    width: 8px;
					    height: 8px;
					    border-radius: 50%;
					    background-color: #f68830;
				    }
				}
			}
		}
	}
}