.page-block {
	padding-top: 30px;
	@media screen and (min-width: 1280px) {
		padding-top: 40px;
	}
	@include clearfix;
	$side-block-width: 260px;
	$blocks-gutter: 30px;

	.side-block {
		display: none;
		@media screen and (min-width: 1200px) {
			display: block;
			width: $side-block-width;
			padding: 0 30px 0 0;
			float: left;
		}
	}
	.main-block {
		@media screen and (min-width: 1200px) {
			width: calc(100% - #{$side-block-width} - #{$blocks-gutter});
			//margin-left: $side-block-width + $blocks-gutter;
			float: right;
		}
	}
}