.shift-menu-top {
	margin-bottom: 30px;
	@media screen and (min-width: 1200px) {
		display: none;
	}
	&__btn {
		display: inline-block;
		width: 44px;
		height: 44px;
		padding: 0;
		border: none;
		outline: none;
		border-radius: 2px;
		background-color: $bg-color;
		position: relative;
		svg {
			@include centerer-xy;
			width: 18px;
			height: 18px;
			fill: $second-color;
		}
	}
}

.pages-menu {
	&__content {
		margin-top: 20px;
		margin-bottom: 20px;
		border-top: $border;
	}
	&__item {
		padding-top: 18px;
		padding-bottom: 18px;
		border-bottom: $border;
		font-size: 14px;
		color: #333333;
		&.active {
			color: $second-color;
		}
		a {
			color: inherit;
			text-decoration: none;
			&:hover {
				color: $second-color;
			}
		}
	}
}