.regular-block {
	margin-bottom: 60px;
	position: relative;
	@media screen and (min-width: 1200px) {
		&:before {
			content: "";
		    position: absolute;
		    top: 0;
		    left: -30px;
		    height: 100%;
		    width: 1px;
		    background-color: #e6e6e6;
		}
	}
	&__header {
		margin-top: 0;
	    margin-bottom: 30px;
	    font-size: 30px;
	    font-weight: 500;
	    line-height: 39px;
	    color: #222;
	}
	&__sub-header {
		margin-top: 0;
		margin-bottom: 28px;
		font-size: 24px;
		font-weight: 500;
		color: #333333;
	}
	h3 {
		margin-top: 0;
		margin-bottom: 30px;
		font-size: 18px;
		font-weight: 500;
		color: #333333;
	}
	p {
		margin-top: 0;
		margin-bottom: 25px;
		font-size: 14px;
		line-height: 21px;
		color: #666666;
	}
	ul {
		margin-top: 25px;
		margin-bottom: 25px;
	}
	li {
		position: relative;
	    padding-left: 25px;
	    margin-top: 0;
	    margin-bottom: 16px;
	    font-size: 14px;
	    line-height: 21px;
	    color: #666;
	    &:before {
    	    content: "";
		    position: absolute;
		    top: 8px;
		    left: 0;
		    width: 8px;
		    height: 8px;
		    border-radius: 50%;
		    background-color: #f68830;
	    }
	}
	strong {
		font-weight: 500;
	}
	.accent {
		font-weight: 500;
		color: #5bb94f;
	}
	a {
		color: $first-color;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}