.regular-block {
	.contacts-map {
		width: 100%;
		height: 300px;
		margin-bottom: 20px;
		#map {
			width: 100%;
			height: 100%;
		}
	}
	.contacts-requisites {
		padding: 20px;
		border: $border;
		border-radius: 6px;
		margin-bottom: 20px;
		.requisites-elem {
			margin-bottom: 16px;
			&:last-child {
				margin-bottom: 0;
			}
			&__title {
				margin-top: 0;
				margin-bottom: 16px;
				font-size: 14px;
				font-weight: 500;
				color: #333333;
			}
			p {
				margin: 0;
				font-size: 14px;
				color: #333333;
				&.requisites-elem__phone {
					margin-bottom: 16px;
				}
			}
			&__phone {
				svg {
					margin-right: 14px;
					display: inline-block;
					width: 22px;
					height: 22px;
					vertical-align: middle;
					&.phone {
						fill: #2765cb;
					}
					&.kievstar {
						fill: #fbd92f;
					}
					&.vodafone {
						fill: #e63c45;
					}
				}
				span {
					color: #999999;
				}
			}
		}
	}
	.contacts-feedback {
		&__title {
			margin-top: 0;
			margin-bottom: 20px;
			font-size: 16px;
			font-weight: 500;
			color: #333333;
		}
		.feedback-captcha {
			display: flex;
			justify-content: space-between;
			.input-captcha {
				width: calc(100% - 175.5px - 16px);
			}
			.img-captcha {
				display: block;
				width: 175.5px;
				height: 38px;
			}
		}
		.feedback-submit {
			margin-top: 14px;
			text-align: right;
			button {
				width: 150px;
			}
		}
	}
}