.benefits {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	margin-left: -15px;
	margin-right: -15px;
	margin-top: 30px;
	&__item {

	}
	.benefit {
		margin-left: 15px;
		margin-right: 15px;
		box-sizing: border-box;
		padding: 20px;
		border-width: 2px;
		border-style: solid;
		border-radius: 4px;
		margin-bottom: 30px;
		display: flex;
		align-items: center;
		width: calc(50% - 30px);
		@media screen and (min-width: 1440px) {
			width: calc(25% - 30px);
		}
		&--one {
			$one-color: #3366cc;
			border-color: $one-color;
			color: $one-color;
			svg {
				fill: $one-color;
			}
		}
		&--two {
			$one-color: #5bb94f;
			border-color: $one-color;
			color: $one-color;
			svg {
				fill: $one-color;
			}
		}
		&--tree {
			$one-color: #f68830;
			border-color: $one-color;
			color: $one-color;
			svg {
				fill: $one-color;
			}
		}
		&--four {
			$one-color: #f68830;
			border-color: $one-color;
			color: $one-color;
			svg {
				fill: $one-color;
			}
		}
		&__img {
			height: 50px;
			width: 55px;
			margin-right: 22px;
		}
		&__desc {
			font-size: 16px;
			font-weight: 500;
		}
	}
}