.catalog-items {
	margin-left: -15px;
	margin-right: -15px;
	@include clearfix;
	.catalog-item {
		float: left;
		width: calc(100% / 3 - 30px);
		@media screen and (min-width: 1200px) {
			width: calc(25% - 30px);
		}
		margin-bottom: 30px;
		margin-left: 15px;
		margin-right: 15px;
		background-color: #fff;
		&__props {
			display: none;
			margin-top: 20px;
			font-size: 14px;
		}
		&__prop {
			justify-content: space-between;
			margin-bottom: 8px;
			@include clearfix;
			position: relative;
			overflow: hidden;
			&:last-child {
				margin-bottom: 0;
			}
			&:before {
				content: "......................................................................";
				position: absolute;
				bottom: 3px;
				color: #dcdcdc;
			}
		}
		&__prop-name {
			position: relative;
			display: inline-block;
			padding-right: 3px;
			padding-bottom: 3px;
			z-index: 2;
			float: left;
			word-wrap: normal;
			background-color: #fff;
			color: #999999;
		}
		&__prop-value {
			position: relative;
			display: inline-block;
			padding-left: 3px;
			padding-bottom: 3px;
			z-index: 2;
			float: right;
			background-color: #fff;
			color: #333333;
		}
		&:hover {
			border: none;
			.catalog-item-wrapper {
				position: absolute;
				background-color: #fff;
				z-index: 3;
				height: auto;
				border: $border;
				border-radius: 4px;
				box-shadow: $box-shadow;
			}
			.catalog-item__props {
				display: block;
			}
		}
	}
}

.catalog-items--list {
	margin-left: 0;
	margin-right: 0;
	.catalog-item {
		display: flex;
		&:hover {
			border: $border;
		}
		float: none;
		margin-left: 0;
		margin-right: 0;
		width: 100%;
		@media screen and (min-width: 1024px) {
			width: 100%;
		}
		@media screen and (min-width: 1200px) {
			width: 100%;
		}
		padding: 20px;
		&__img {
			flex-shrink: 0;
			flex-grow: 0;
			margin-left: 0;
			margin-right: 0;
		}
		&__col-wrapper {
			margin-left: 38px;
			flex-grow: 1;
			@media screen and (min-width: 1200px) {
				display: flex;
				justify-content: space-between;
			}
		}
		&__info,
		&__sell {
			.catalog-item__buy-more {
				width: 240px;
			}
			.catalog-item__buy {
				width: 120px;
				span {
					display: inline-block;
				}
				.to-cart svg {
					display: none;
				}
				.in-cart span {
					display: inline;
				}
				&.done {
					.to-cart {
						display: none;
					}
					.in-cart {
						display: inline-block;
					}
				}
			}
			.catalog-item__report {
				width: 240px;
				span {
					display: inline-block;
				}
			}
		}
		&__sell {
			margin-top: 26px;
		}
		&__title {
			height: 46px;
		}
		&__available,
		&__v-code {
			display: inline-block;
		}
		&__v-code {
			margin-left: 30px;
		}
		&__props-list {
			margin-bottom: 26px;
			font-size: 14px;
			color: #666666;
			.catalog-item__props-item {
				position: relative;
				margin-bottom: 10px;
				padding-left: 17px;
				&:before {
					content: "";
					position: absolute;
					top: 6px;
					left: 0;
					width: 5px;
					height: 5px;
					border-radius: 50%;
					background-color: $second-color;
				}
			}
		}
	}
}
.catalog-item-wrapper {
	padding: 20px 15px 17px;
	width: 100%;
	box-sizing: border-box;
	@media screen and (min-width: 1440px) {
		padding-top: 25px;
	}
}

.catalog-item {
	position: relative;
	border: $border;
	box-sizing: border-box;
	border-radius: 4px;
	&__stickers {
		position: absolute;
		z-index: 1;
		top: 10px;
		left: 10px;
		.sticker-wrapper {
			margin-bottom: 5px;
		}
		.item-stickers__elem {
			$height: 20px;
			position: relative;
			display: inline-block;
			height: $height;
			width: auto;
			background-color: $fourth-color;
			font-size: 12px;
			font-weight: 500;
			line-height: $height;
			color: #fff;
			text-transform: uppercase;
			padding-left: 16px;
			padding-right: 10px;
			&:before {
				position: absolute;
				right: $height / 2 * -1;
				top: 0;
				content: "";
				width: 0;
				height: 0;
				border-top: $height / 2 solid $fourth-color;
				border-bottom: $height / 2 solid $fourth-color;
				border-right: $height / 2 solid transparent;
			}
			&--new {
				background-color: $first-color;
				&:before {
					border-top-color: $first-color;
					border-bottom-color: $first-color;
				}
			}
			&--action {
				background-color: $second-color;
				&:before {
					border-top-color: $second-color;
					border-bottom-color: $second-color;
				}
			}
		}
	}
	&__v-code {
		margin-bottom: 16px;
		font-size: 13px;
		color: #333;
	}

	&__price-cont {
		margin-bottom: 15px;
	}
	&__discount,
	&__old-price {
		display: none;
	}
	&__price {
		display: block;
		padding-top: 23px;
		font-size: 18px;
		line-height: 23px;
		font-weight: 500;
		color: #222222;
	}
	&__available {
		margin-bottom: 16px;
		.present, .absent {
			font-size: 13px;
			color: #333;
			margin: 0;
			svg {
				display: inline-block;
				margin-right: 5px;
				width: 9px;
				height: 9px;
			}
		}
		.present {
			display: block;
			&__few, &__lot, &__count {
				display: none;
			}

			svg {
				fill: $fourth-color;
			}
		}
		.absent {
			display: none;
			svg {
				fill: $second-color;
			}
		}
	}
	&--few-amount {
		.present {
			&__yes {
				display: none;
			}
			svg {
				fill: $sixth-color;
			}
			&__few {
				display: inline;
				color: $sixth-color;
				+ .present__count {
					display: inline;
				}
			}
			&__count {
				display: none;
			}
		}
	}
	&--lot-amount {
		.present {
			&__yes {
				display: none;
			}
			svg {
				fill: $fourth-color;
			}
			&__lot {
				display: inline;
				color: $fourth-color;
				+ .present__count {
					display: inline;
				}
			}
		}
	}
	&--absent {
		.catalog-item__img {
			opacity: .3;
		}
		.catalog-item__available {
			.present {
				display: none;
			}
			.absent {
				display: block;
			}
		}
		.catalog-item__price {
			color: #999999;
		}
		.catalog-item__have {
			display: none;
		}
		.catalog-item__report {
			display: block;
		}
	}
	&--discount {
		.catalog-item__discount {
			display: inline-block;
			margin-left: 10px;
			padding-left: 6px;
			padding-right: 6px;
			border-top-left-radius: 6px;
			border-bottom-left-radius: 6px;
			font-size: 13px;
			height: 23px;
			line-height: 23px;
			background-color: $fifth-color;
			color: #ffffff;
		}
		.catalog-item__old-price {
			display: block;
			font-size: 14px;
			line-height: 22px;
			color: #8a9499;
			text-decoration: line-through;
		}
		.catalog-item__price {
			margin-top: 0;
			padding-top: 0;
			display: inline-block;
		}
	}
	&__img {
		width: 176px;
		height: 176px;
		margin-bottom: 18px;
		margin-left: auto;
		margin-right: auto;
		@media screen and (min-width: 1024px) {
			width: 180px;
			height: 180px;
		}
		@media screen and (min-width: 1440px) {
			width: 220px;
			height: 220px;
		}
		a {
			display: block;
			width: 100%;
			height: 100%;
		}
		img {
			display: block;
			margin-left: auto;
			margin-right: auto;
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
	&__title {
		$l-height:  23px;
		font-size: 16px;
		line-height: $l-height;
		height:  $l-height * 3;
		overflow: hidden;
		margin-bottom: 16px;
		a {
			color: $link-color;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&__buy-more {
		height: 38px;
		@include clearfix;
	}
	&__have {
		display: block;
	}
	&__report {
		display: none;
		width: 38px;
		svg {
			padding-bottom: 3px;
			display: inline-block;
			vertical-align: middle;
			width: 15px;
			height: 15px;
			fill: #ffffff;
		}
		span {
			display: none;
			margin-left: 5px;
			@media screen and (min-width: 1410px) {
				display: inline-block;
			}
		}
		@media screen and (min-width: 1410px) {
			width: 100%;
		}
	}
	&__buy {
		float: left;
		width: 38px;
		.in-cart, .to-cart {
			margin: 0;
			display: inline-block;
		}
		.in-cart {
			display: none;
		}
		&.done {
			button {
				background-color: #f0f0f0;
				color: #999999;
				overflow: hidden;
				cursor: not-allowed;
			}
			.in-cart {
				display: block;
				span {
					display: none;
				}
			}
			.to-cart {
				display: none;
			}
			svg {
				fill: $fourth-color;
			}
		}
		span {
			display: none;
		}
		svg {
			display: inline-block;
			width: 15px;
			height: 15px;
			fill: #ffffff;
		}
		@media screen and (min-width: 1410px) {
			width: 120px;
			span {
				display: inline;
			}
			svg {
				display: none;
			}
			.in-cart {
				svg {
					display: inline-block;
					margin-right: 3px;
				}
			}
			&.done {
				.in-cart {
					span {
						display: inline-block;
					}
				}
			}
		}
	}
	&__more {
		$btn-color: #cccccc;
		float: right;
		@include clearfix;
		.favorites, .compare {
			width: 38px;
			display: block;
			float: right;
			margin-left: 5px;
			transition: .3s;
			svg {
				display: inline-block;
				width: 15px;
				height: 15px;
				fill: $btn-color;
			}
			&:hover {
				border-color: darken($btn-color, 10%);
				svg {
					fill: darken($btn-color, 10%);
				}
			}
		}
		.compare {
			&.done svg {
				fill: $second-color;
			}
		}
		.favorites {
			svg.to-favorites {
				display: inline-block;
			}
			svg.in-favorites {
				display: none;
				fill: $second-color;
			}
			&.done svg {
				&.to-favorites {
					display: none;
				}
				&.in-favorites {
					display: inline-block;
				}
			}
		}
		.compare {

		}
	}
}