.categories-block {
	background-color: $bg-color;
	$gutter: 15px;
	$double-gutter: $gutter * 2;
	$p_top: 30px;
	padding-top: $p_top;
	@media screen and (min-width: 1024px) {
		$p_top: 40px;
		padding-top: $p_top;
		padding-bottom: $p_top - $double-gutter;
	}
	@media screen and (min-width: 1440px) {
		$p_top: 60px;
		padding-top: $p_top;
		padding-bottom: $p_top - $double-gutter;
	}
	.categories-items {
		display: flex;
		flex-wrap: wrap;
		margin-left: $gutter * -1;
		margin-right: $gutter * -1;
		.categories-item {
			box-sizing: border-box;
			a {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
			margin-left: $gutter;
			margin-right: $gutter;
			border: 1px solid $third-color;
			border-radius: 4px;
			background-color: #fff;
			margin-bottom: $double-gutter;
			text-align: center;
			position: relative;
			padding: 22px;
			width: calc(25% - #{$double-gutter});
			@media screen and (min-width: 1024px) {
				padding: 30px;
				width: calc(20%  - #{$gutter} * 2);
			}
			@media screen and (min-width: 1440px) {
				padding: 35px;
				width: calc((100% / 6) - #{$double-gutter});
			}
			a {
				text-decoration: none;
				&:hover p {
					color: $second-color;
				}
			}
			&__img {
				width: 110px;
				height: 110px;
				margin-bottom: 18px;
				@media screen and (min-width: 1440px) {
					width: 150px;
					height: 150px;
					margin-bottom: 22px;
				}
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
				}
			}
			&__desc {
				font-weight: 400;
				color: #333333;
				margin: 0;
				transition: color .2s;
				font-size: 14px;
				line-height: 18px;
				@media screen and (min-width: 1440px) {
					font-size: 16px;
					line-height: 21px;
				}
			}
			&__cnt {
				position: absolute;
				min-width: 24px;
				height: 24px;
				padding-left: 7px;
				padding-right: 7px;
				border-radius: 12px;
				background-color: #e9d9c3;
				color: #999999;
				font-size: 14px;
				font-weight: 500;
				line-height: 24px;
				text-align: center;
				right: 14px;
				top: 14px;
				@media screen and (min-width: 1440px) {
					right: 21px;
					top: 18px;
				}
			}
		}
	}
}