.our-soc-block {
	$gutter: 15px;
	padding-top: 30px;
	padding-bottom: 30px;
	@media screen and (min-width: 1024px) {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	@media screen and (min-width: 1440px) {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.our-soc-items {
		display: flex;
		flex-wrap: wrap;
		margin-left: $gutter * -1;
		margin-right: $gutter * -1;
		.our-soc-item {
			$fb-color: #1d4da1;
			$yt-color: #e63c45;
			$twt-color: #40a0f1;
			a {
				text-decoration: none;
			}
			transition: .3s;
			margin-left: $gutter;
			margin-right: $gutter;
			border-radius: 6px;
			margin-bottom: $gutter * 2;
			border: $border;
			background-color: #ffffff;
			position: relative;
			padding: 16px 16px 30px;
			width: calc(100% / 3 - #{$gutter} * 2);
			@media screen and (min-width: 1024px) {
				width: calc(25% - #{$gutter} * 2);
			}
			@media screen and (min-width: 1440px) {
				width: calc(100% / 5 - #{$gutter} * 2);
			}
			&--yt-post {
				background-color: #ccc;
				overflow: hidden;
				a {
					width: 100%;
					height: 100%;
					position: relative;
					z-index: 1;
					display: block;
					svg {
						@include centerer-xy;
						display: inline-block;
						width: 28px;
						height: 28px;
						fill: #ffffff;
					}
				}
				.our-soc-item--bground {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
	    				object-position: center;
					}
				}
				&:after {
					position: absolute;
					content: "";
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					background-color: rgba(0,0,0,.3);
					transition: .3s;
				}
				&:hover {
					&:after {
						background-color: rgba(0,0,0,0);
					}
				}
			}
			&--fb-post {
				svg {
					fill: $fb-color;
				}
				&:hover {
					background-color: $fb-color;
					border-color: transparent;
					.our-soc-item__date,
					.our-soc-item__txt {
						color: #ffffff;
					}
					.our-soc-item__icon {
						svg {
							fill: #ffffff;
						}
					}
				}
			}

			&--twt-post {
				svg {
					fill: $twt-color;
				}
				&:hover {
					background-color: $twt-color;
					border: none;
					.our-soc-item__date,
					.our-soc-item__txt {
						color: #ffffff;
					}
					.our-soc-item__icon {
						svg {
							fill: #ffffff;
						}
					}
				}
			}
			&__date {
				margin-top: 0;
				margin-bottom: 20px;
				font-size: 13px;
				color: #999999;
			}
			&__txt {
				$l-height: 21px;
				margin: 0;
				color: #666666;
				font-size: 14px;
				line-height: $l-height;
				height: $l-height * 7;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			&__icon {
				position: absolute;
				top: 16px;
				right: 16px;
				width: 20px;
				height: 20px;
				svg {
					width: 100%;
					height: 100%;
				}
			}
			&--fb {
				background-color: $fb-color;
			}
			&--yt {
				background-color: $yt-color;
			}
			&--twt {
				background-color: $twt-color;
			}
			&__logo {
				margin: auto;
				width: 50px;
				height: 40px;
				text-align: center;
				margin-bottom: 32px;
				svg {
					display: inline-block;
					width: 100%;
					height: 100%;
					fill: #ffffff;
				}
			}
			&--subscr {
				border: none;
				padding: 40px 33px;
				a {
					text-decoration: none;
				    display: block;
				    width: 100%;
				    height: 100%;
				    opacity: 1;
				    transition: opacity .3s;
				    &:hover {
				    	opacity: .8;
				    }
				}
			}
			&__link {
				width: 100%;
				padding: 15px;
				border: 1px solid #ffffff;
				border-radius: 4px;
				font-size: 16px;
				line-height: 21px;
				font-weight: 500;
				color: #ffffff;
				text-align: center;
			}
		}
	}
	.show-more-block {
		width: 300px;
		margin: auto;
	}
}