.pages-nav {
	width: 100%;
	height: 70px;
	background-color: $bg-color;
	.container {
		position: relative;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		&:before, &:after {
			display: none;
		}
	}
	.breadcrumbs-item {
		display: inline-block;
		font-size: 13px;
		color: #999999;
		&:last-child {
			font-weight: 500;
			color: #333;
		}
		a {
			color: inherit;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
		&__name,
		&__separator {
			margin-right: 7px;
		}
		&__separator {
			color: #333333;
		}
	}
	.share-btn {
		flex-shrink: 0;
		position: relative;
		width: 38px;
		height: 38px;
		padding: 0;
		border: none;
		outline: none;
		border-radius: 50%;
		background-color: #eeddcf;
		transition: .3s;
		&:hover {
			background-color: lighten(#eeddcf, 3%);
		}
		svg {
			@include centerer-xy;
			width: 14px;
			height: 14px;
			fill: #999999;
		}
	}
}

.share-block {
	position: absolute;
	z-index: 1;
	&:after {
		content: "";
		position: absolute;
		top: -12px;
		right: 0;
		border-bottom: 12px solid #ffffff;
		border-left: 12px solid transparent;
		border-right: 12px solid transparent;
	}
	top: 100%;
	right: 37px;
	display: none;
	padding: 15px;
	background-color: #ffffff;
	box-shadow: $box-shadow;
	&__wrapper {
		margin-left: -3px;
		margin-right: -3px;
		display: flex;
		flex-wrap: wrap;
	}
	&__ilem {
		&--fb {
			background-color: #3b5998;
		}
		&--twt {
			background-color: #1da1f2;
		}
		&--gplus {
			background-color: #34a853;
		}
		&--insta {
			background-color: #ed4095;
		}
		&--yt {
			background-color: #ff0000;
		}
		width: 38px;
		height: 38px;
		margin-left: 6px;
		margin-right: 6px;
		position: relative;
		border-radius: 4px;
		svg {
			@include centerer-xy;
			width: 18px;
			height: 18px;
			fill: #ffffff;
		}
	}
}
