.pagination-section {
	@include clearfix;
	& .pagination-section__items {
		margin: 0;
		float: left;
		font-size: 0;
		li {
			display: inline-block;
			width: 44px;
			height: 44px;
			margin-right: 5px;
			margin-bottom: 0;
			padding-left: 0;
			font-size: 14px;
			line-height: 44px;
			text-align: center;
			border: $border;
			border-radius: 2px;
			background-color: #ffffff;
			&:before {
				display: none;
			}
			a {
				display: block;
				color: #333333;
				text-decoration: none;
			}
			&:hover {
				background-color: #f5f5f5;
				&.points {
					background-color: #ffffff;
				}
			}
			&.active, &.active:hover  {
				background-color: #f2f2f2;
				color: $second-color;
			}
		}
	}
	&__nums {
		float: right;
		font-size: 16px;
		line-height: 44px;
	}
}