.portfolio-block {
	background-color: $bg-color;
	padding-top: 30px;
	padding-bottom: 30px;
	@media screen and (min-width: 1024px) {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	@media screen and (min-width: 1440px) {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.portfolio-header {
		font-size: inherit;
		font-weight: inherit;
		margin: inherit;
	}
	.portfolio-item {
		background-color: #ffffff;
		border-radius: 6px;
		overflow: hidden;
		a {
			text-decoration: none;
		}
		&:hover .portfolio-item__desc {
			color: $second-color;
		}
		height: 300px;
		@media screen and (min-width: 1024px) {
			height: 270px;
		}
		@media screen and (min-width: 1440px) {
			height: 300px;
		}
		&__img {
			height: 226px;
			@media screen and (min-width: 1024px) {
				height: 200px;
			}
			@media screen and (min-width: 11440px) {
				height: 230px;
			}
			background-color: #ececec;
			position: relative;
			img {
			    width: 100%;
			    height: 100%;
			    object-fit: cover;
			    object-position: center;
			}
		}
		&__desc {
			$l-height: 21px;
			margin-top: 20px;
			margin-bottom: 0;
			padding-left: 18px;
			padding-right: 18px;
			font-size: 16px;
			line-height: $l-height;
			height: $l-height * 2;
			overflow: hidden;
			text-overflow: ellipsis;
			color: #333333;
			transition: .3s;
		}
	}
	@include swiper-buttons($right: 0, $top: 0);
}