.recommended-block {
	>.container {
		position: relative;
		@include swiper-buttons($right: 0, $bottom: 30px, $bordered: true);
	}
	padding-top: 10px;
	padding-bottom: 30px;
	@media screen and (min-width: 1024px) {
		padding-top: 15px;
		padding-bottom: 40px;
	}
	@media screen and (min-width: 1440px) {
		padding-top: 25px;
		padding-bottom: 60px;
	}
	.tabs-block {
		position: relative;
	}
	.catalog-tab {
		position: relative;
		display: inline-block;
		padding-bottom: 24px;
		margin-right: 30px;
		cursor: pointer;
		font-size: 18px;
		color: #333333;
	}
	.catalog-tab.active:after {
		content: "";
		position: absolute;
		bottom: -1px;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: $second-color;
	}
	.tabs_content {
		border-top: $border;
	}
	.catalog-block {
		margin-top: 30px;
		@media screen and (min-width: 1024px) {
			margin-top: 40px;
		}
		display: none;
		&:first-child {
			display: block;
		}
	}
}
