.product-section {
	margin-bottom: 27px;
	&__title {
		margin-top: 0;
		margin-bottom: 20px;
		font-size: 18px;
		font-weight: 500;
		color: #333333;
	}
}
.product-gallery {
	margin-bottom: 30px;
	.product-images {
		width: 320px;
		height: 320px;
		.swiper-slide {
			width: 100%;
			img {
				display: block;
				width: 100%;
			    height: 100%;
			    object-fit: cover;
			    object-position: center;
			}
		}
		.catalog-item__stickers {
			bottom: auto;
			top: 10px;
			z-index: 2;
		}
	}
	.product-gallery__pagination {
		margin-top: 18px;
		text-align: center;
		.swiper-pagination-bullet {
			width: 12px;
			height: 12px;
			margin-left: 7px;
			margin-right: 7px;
			background-color: #f2f2f2;
			opacity: 1;
			line-height: 16px;
			vertical-align: middle;
			outline: none;
		}
		.swiper-pagination-bullet-active {
			background-color: $second-color;
			width: 16px;
			height: 16px;
		}
	}
}
.product-gallery .video-slide,
.gallery-bottom .product-detail__v-content {
	cursor: pointer;
	position: relative;
	&:before {
		position: absolute;
		z-index: 2;
		width: 68px;
		height: 48px;
		@include centerer-xy;
		content: "";
		background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="68" height="48" viewBox="0 0 68 48"%3E%3Cpath fill="%23658bd7" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"%3E%3C/path%3E%3Cpath fill="%23ffffff" d="M 45,24 27,14 27,34"%3E%3C/path%3E%3C/svg%3E');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
}
#gallery-modal {
	display: none;
	.pop-up-window__close {
		top: 0;
		right: 0;
		z-index: 10;
		border-radius: 0;
		background-color: #fff;
		transition: .3s;
		&:hover {
			background-color: #e63c45;
			svg {
				fill: #fff;
			}
		}
	}
}
.gallery-modal-window {
	padding: 0;
	border: none;
	border-radius: 0;
	width: 100%;
}
.video {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	background-color: #000;
	&__media {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: none;
	}
	&__button {
		display: none;
		position: absolute;
		top: 50%;
		left: 50%;
		padding: 0;
		width: 68px;
		height: 48px;
		border: none;
		outline: none;
		background-color: transparent;
		transform: translate(-50%, -50%);
		cursor: pointer;
	}
	.video__button-shape {
		fill: #212121;
		fill-opacity: .8;
	}
	.video__button-icon {
		fill: #ffffff;
	}
}
.video--enabled {
	cursor: pointer;
	.video__button {
		display: block;
	}
}
.video:hover .video__button-shape,
.video__button:focus .video__button-shape {
	fill: #ff0000;
	fill-opacity: 1;
}
.product-title {
	margin-top: 0;
	margin-bottom: 45px;
	font-size: 24px;
	line-height: 36px;
	font-weight: 500;
	color: #222;
}
.product-v-code {
	margin-top: 0;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: $border;
	font-size: 14px;
	color: #333;
	span {
		position: relative;
		&:after {
			content: "";
			position: absolute;
			left: 0;
			bottom: -22px;
			width: 100%;
			height: 2px;
			background-color: $second-color;
		}
	}
}
.product-excerpt {
	font-size: 14px;
	color: #666666;
	&__txt {
		line-height: 21px;
	}
	&__more {
		margin-top: 20px;
    	text-align: left;
    	span {
    		cursor: pointer;
	    	.fa {
			    padding-left: 10px;
	    		font-size: 18px;
	    		vertical-align: middle;
			    color: #f68830;
	    	}
    	}
	}
}
.product-upload {
	margin-top: 32px;
	margin-bottom: 32px;
	&__title {
		margin-bottom: 15px;
		font-size: 16px;
		font-weight: 500;
		color: #222222;
	}
	&__link {
		display: inline-block;
		line-height: 24px;
		text-decoration: none;
		svg {
			display: inline-block;
			width: 24px;
			height: 24px;
			vertical-align: middle;
			margin-right: 8px;
			fill: $link-color;
		}
		span {
			display: inline-block;
			font-size: 14px;
			line-height: 24px;
			color: $link-color;
		}
	}
}
.product-sale {
	@include clearfix;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 0;
	.product-amount {
		float: left;
		margin-right: 30px;
		&__input,
		&__btn {
			width: 44px;
			height: 44px;
			border: none;
			outline: none;
			background-color: #f5f5f5;
			border: 2px solid #f5f5f5;
			font-size: 16px;
			text-align: center;
		}
		&__input {
			color: #333333;
			border-top-left-radius: 2px;
			border-bottom-left-radius: 2px;
			&:focus {
				background-color: #ffffff;
			}
		}
		&__btn {
			font-weight: 500;
			color: #999999;
			margin-right: 12px;
			border-top-right-radius: 2px;
			border-bottom-right-radius: 2px;
			&:hover {
				background-color: darken(#f5f5f5, 4%);
			}
		}
		&__units {
			font-size: 18px;
		}
	}
	.product-price {
		float: left;
		font-size: 28px;
		font-weight: 500;
		line-height: 44px;
		color: #333333;
		position: relative;
		&__old-price {
			position: absolute;
			top: -20px;
			left: 0;
			font-size: 18px;
			font-weight: 400;
			line-height: 1;
			color: #999999;
			text-decoration: line-through;
		}
	}
}
.product__available {
	font-size: 14px;
	color: #333333;
	svg {
		display: inline-block;
	    margin-right: 5px;
	    width: 9px;
	    height: 9px;
	}
	.absent, .present {
		margin-top: 0;
		margin-bottom: 20px;
	}
	.absent {
		svg {
			fill: $sixth-color;
		}
	}
	.present {
		.present__few {
			color: $sixth-color;
		}
		.present__lot {
			color: $fourth-color;
		}
		svg {
			fill: $fourth-color;
		}
	}
}

.product-item--few {
	.product__available {
		.absent {
			display: none;
		}
		.present {
			.present__few {
				display: inline-block;
			}
			.present__lot {
				display: none;
			}
			svg {
				fill: $sixth-color;
			}
		}
	}
}
.product-item--lot {
	.product__available {
		.absent {
			display: none;
		}
		.present {
			.present__few {
				display: none;
			}
			.present__lot {
				display: inline-block;
			}
			svg {
				fill: $fourth-color;
			}
		}
	}
}
.product-item--absent {
	.product__available {
		.absent {
			display: inline-block;
		}
		.present {
			display: none;
		}
	}
	.product__have {
		display: none;
	}
	.product__report {
		display: block;
	}
}
.product {
	&__buy-more {
		width: 330px;
		max-width: 100%;
		height: 44px;
		margin-bottom: 26px;
		@include clearfix;
	}
	&__have {
		display: block;
	}
	&__report {
		display: none;
		width: 100%;
		svg {
			padding-bottom: 3px;
			display: inline-block;
			vertical-align: middle;
			width: 15px;
			height: 15px;
			fill: #ffffff;
		}
		span {
			margin-left: 5px;
			display: inline-block;
		}

	}
	&__buy {
		float: left;
		width: 180px;
		button {
			height: 44px;
		}
		.in-cart, .to-cart {
			margin: 0;
			display: inline-block;
		}
		.in-cart {
			display: none;
			svg {
				fill: $fourth-color;
				display: inline-block;
				width: 15px;
				height: 15px;
				margin-right: 5px;
				vertical-align: middle;
			}
		}
		&.done {
			button {
				background-color: #f0f0f0;
				color: #999999;
				cursor: not-allowed;
			}
			.in-cart {
				display: block;
			}
			.to-cart {
				display: none;
			}
		}
	}
	&__more {
		$btn-color: #cccccc;
		float: right;
		@include clearfix;
		.favorites, .compare {
			width: 44px;
			height: 44px;
			display: block;
			float: right;
			margin-left: 5px;
			transition: .3s;
			svg {
				display: inline-block;
				width: 15px;
				height: 15px;
				fill: $btn-color;
			}
			&:hover {
				border-color: darken($btn-color, 10%);
				svg {
					fill: darken($btn-color, 10%);
				}
			}
		}
		.compare {
			&.done svg {
				fill: $second-color;
			}
		}
		.favorites {
			svg.to-favorites {
				display: inline-block;
			}
			svg.in-favorites {
				display: none;
				fill: $second-color;
			}
			&.done svg {
				&.to-favorites {
					display: none;
				}
				&.in-favorites {
					display: inline-block;
				}
			}
		}
	}
}
.product-call {
	font-size: 0;
	&__title {
		margin-bottom: 20px;
		font-size: 18px;
		font-weight: 500;
		color: #333;
	}
	&__input,
	&__btn {
		display: inline-block;
		height: 44px;
		border: none;
		outline: none;
		background-color: #f5f5f5;
		border: 2px solid #f5f5f5;
		font-size: 16px;
	}
	&__input {
		width: calc(100% - 44px);
		height: 44px;
		padding-left: 14px;
		color: #333333;
		border-top-left-radius: 2px;
		border-bottom-left-radius: 2px;
		color: #999999;
		&:focus {
			background-color: #ffffff;
		}
	}
	&__btn {
		width: 44px;
		height: 44px;
		border-top-right-radius: 2px;
		border-bottom-right-radius: 2px;
		&:hover {
			background-color: darken(#f5f5f5, 4%);
		}
		svg {
			width: 15px;
			height: 15px;
			fill: #999999;
		}
	}
}
.product-detail {
	&__block {
		margin-bottom: 4px;
		&.opened {
			.product-detail__block-content {
				display: block;
			}
			.product-detail__block-header {
				span {
					color: $second-color;
				}
			}
		}
		.prop-list {
			font-size: 14px;
			color: #666666;
			.prop-item {
				&__prop,
				&__desc {
					padding: 12px 14px;
				}
				&__desc {
					color: #222;
				}
				&:nth-child(odd) {
					background-color: #f5f5f5;
				}
			}
		}
	}
	&__block-header {
		position: relative;
		width: 100%;
		min-height: 44px;
		display: table;
		border: $border;
		border-radius: 2px;
		color: #333333;
		cursor: pointer;
		span {
			font-size: 16px;
			font-weight: 500;
			display: table-cell;
			vertical-align: middle;
			padding-left: 14px;
		}
		.fa {
			@include centerer-y;
			right: 14px;
		}
	}
	&__block-content {
		display: none;
		padding-top: 18px;
		margin-bottom: 18px;
		.product-detail__block-title {
			margin-top: 0;
			margin-bottom: 20px;
			font-size: 18px;
			line-height: 26px;
			font-weight: 400;
			color: #999999;
			.content-title {
				font-weight: 500;
				color: #222;
			}
		}
		p {
			font-size: 14px;
			line-height: 21px;
			margin-top: 0;
			margin-bottom: 20px;
		}
		h4 {
			margin-top: 24px;
			margin-bottom: 15px;
			font-size: 18px;
			font-weight: 500;
		}
		strong {
			font-weight: 500;
		}
		ol {
			margin-top: 18px;
			margin-bottom: 18px;
			padding: 0;
			counter-reset: detail-counter;
			li {
				position: relative;
				padding-left: 20px;
				font-size: 14px;
				margin-bottom: 8px;
				counter-increment: detail-counter;
				&:before {
					content: counter(detail-counter) ". ";
					position: absolute;
					left: 0;
				}
			}
		}
	}
	&__v-block {
		width: 100%;
		border-radius: 4px;
		overflow: hidden;
		margin-bottom: 15px;
		background-color: #fff;
		border: $border;
	}
	&__v-content {
		position: relative;
	    width: 100%;
	    height: 0;
	    padding-bottom: 56.25%;
	    background-color: #ccc;
	    img {
	    	width: 100%;
	    	height: 100%;
	    }
	}
	&__v-txt {
		p {
			margin-top: 20px;
			padding-left: 20px;
			padding-right: 20px;
			font-size: 16px;
			line-height: 23px;
			height: 46px;
			overflow: hidden;
		}
	}
}