.regular-block {
	.portfolio-list-elem {
		margin-bottom: 15px;
		border: $border;
		border-radius: 6px;
		overflow: hidden;
		&__img {
			width: 100%;
			height: 200px;
			img {
				display: block;
				width: 100%;
			    height: 100%;
			    object-fit: cover;
			    object-position: center;
			}
		}
		&__title {
			$l-height: 23px;
			height: $l-height * 2;
			margin: 20px 14px;
			font-size: 16px;
			line-height: $l-height;
			overflow: hidden;
			a {
				color: #333333;
				text-decoration: none;
				&:hover {
					color: $second-color;
				}
			}
		}
	}
}