.footer {
	background-color: $bg-footer-color;
	padding-top: 35px;
	padding-bottom: 35px;
	box-sizing: border-box;
	color: $f-footer-color_1;
}
.copyrights {
	text-align: center;
	font-size: 13px;
}
.copyrights__txt {
	color: $f-footer-color_2;
}
.copyrights__link a {
	color: inherit;
}

.footer-content {
	display: flex;
	margin-left: -20px;
	margin-right: -20px;
	.footer-main-block {
		margin-left: 20px;
		margin-right: 20px;
		@media screen and (min-width: 768px) {
			width: calc(100% / 3 - 40px);
		}
		@media screen and (min-width: 1024px) {
			width: calc(25% - 40px);
		}
		@media screen and (min-width: 1920px) {
			width: calc(20% - 40px);
		}
	}
	.footer-other-blocks {
		display: flex;
		flex-wrap: wrap;
		@media screen and (min-width: 768px) {
			width: calc(100% / 3 * 2);
		}
		@media screen and (min-width: 1024px) {
			width: calc(100% / 4 * 3);
		}
		@media screen and (min-width: 1024px) {
			width: calc(100% / 5 * 4);
		}
		.footer-section {
			margin-left: 20px;
			margin-right: 20px;
			margin-bottom: 40px;
			@media screen and (min-width: 768px) {
				width: calc(50% - 40px);
			}
			@media screen and (min-width: 1024px) {
				width: calc(100% / 3 - 40px);
			}
			@media screen and (min-width: 1920px) {
				width: calc(25% - 40px);
			}
		}
		.footer-menu__header {
			margin-top: 0;
			margin-bottom: 20px;
			font-size: 16px;
			font-weight: 400;
			color: $second-color;
		}
		.footer-menu__item {
			margin-top: 0;
			margin-bottom: 15px;
			font-size: 14px;
			font-weight: 400;
			color: #ffffff;
			&--phone {
				font-size: 16px;
				font-weight: 500;
			}
			&--schedule {
				font-size: 14px;
				margin-top: 20px;
			}
			&--male {
				font-size: 16px;
				margin-top: 20px;
			}
			a {
				color: inherit;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.footer-catalog-link {
		margin-top: 30px;
	}
	.footer-catalog-menu {
		position: relative;
		width: 216px;
		margin-top: 30px;
		&__header {
			display: flex;
			align-items: center;
			color: #fff;
			padding-left: 14px;
			padding-right: 14px;
			width: 100%;
			height: 44px;
			line-height: 44px;
			border-radius: 2px;
			background-color: #2e2e2e;
			cursor: pointer;
			&:hover {
				.footer-catalog-menu__header-txt {
					color: $second-color;
				}
				.footer-catalog-menu__header-icon svg {
					fill: $second-color;
				}
			}
		}
		&__list {
			position: absolute;
			background-color: #2e2e2e;
			bottom: 100%;
			left: 0;
			width: 100%;
			display: none;
		}
		&__item {
			display: block;
		    height: 44px;
		    border-bottom: 1px solid #5c5c5c;
		    color: #fff;
		    a {
				display: block;
			    padding-left: 14px;
			    padding-right: 14px;
			    line-height: 44px;
			    color: inherit;
			    text-decoration: none;
			    white-space: nowrap;
			    overflow: hidden;
			    text-overflow: ellipsis;
			    &:hover {
			    	color: $second-color;
			    }
			}
		}
		&__header-icon {
			display: block;
			margin-right: 16px;
			width: 18px;
			height: 15px;
			svg {
				fill: #fff;
				display: block;
				width: 100%;
			    height: 100%;
			    &.svg-opened {
					display: none;
				}
				&.svg-closed {
					display: block;
				}
			}
		}
		&.opened .footer-catalog-menu__header-icon {
			svg {
				&.svg-opened {
					display: block;
				}
				&.svg-closed {
					display: none;
				}
			}
		}
	}
}
.footer-social-links {
	position: relative;
	margin-bottom: 10px;
	&:before {
		content: "";
		position: absolute;
		z-index: 0;
		width: 100%;
		height: 1px;
		background-color: $f-footer-color_2;
		left: 0;
		top: 50%;
		transform: translateY(-1px);
	}
	@media screen and (min-width: 1024px) {
		margin-bottom: 20px;
	}
	@media screen and (min-width: 1440px) {
		margin-bottom: 30px;
	}
	text-align: center;
	font-size: 0;
	.footer-social-link {
		position: relative;
		display: inline-block;
		z-index: 1;
		width: 60px;
		height: 60px;
		border: none;
		outline: none;
		padding: 0;
		background-color: $bg-footer-color;
		font-size: 22px;
		line-height: 60px;
		text-align: center;
		svg {
			@include centerer-xy;
			width: 20px;
			height: 20px;
			fill: rgba(255,255,255,.25);
		}
		&:hover {
			opacity: 1;
			svg {
				fill: rgba(255,255,255,.5);
			}
		}
	}
}

