.about-shop-block {
	$padding-top: 28px;
	padding-top: $padding-top;
	padding-bottom: 38px;
	.about-shop-header {
		position: relative;
		&:before {
			content: '';
			position: absolute;
			top: $padding-top * -1;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: #e6e6e6;
		}
	}
	.about-shop-content {
		height: 248px;
		overflow: hidden;
		position: relative;
		font-size: 14px;
		line-height: 21px;
		color: #666666;
		p {
			margin-top: 0;
			margin-bottom: 25px;
		}
		&:after {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 100px;
			background: linear-gradient(to bottom, rgba(255,255,255,0),  rgba(255,255,255,1));;
		}
		&.extended {
			overflow: auto;
			height: auto;
			&:after {
				display: none;
			}
			+ .about-shop-more {
				display: none;
			}
		}
	}
	.about-shop-more {
		margin-top: 30px;
		text-align: right;
		span {
			color: $link-color;
			font-size: 16px;
			cursor: pointer;
			.fa {
				font-size: 18px;
				padding-left: 10px;
				color: $second-color;
			}
		}
	}
}