.catalog-item {
	&:nth-child(n+6) {
	    display: none;
	}
	@include clearfix;
	margin-bottom: 15px;
	position: relative;
	padding: 15px;
	box-sizing: border-box;
	border: $border;
	border-radius: 4px;
	&__stickers {
		position: absolute;
		z-index: 1;
		/* top: 10px; */
		bottom: 10px;
		left: 10px;
		.sticker-wrapper {
			margin-bottom: 5px;
		}
		.item-stickers__elem {
			$height: 20px;
			position: relative;
			display: inline-block;
			height: $height;
			width: auto;
			background-color: $fourth-color;
			font-size: 12px;
			font-weight: 500;
			line-height: $height;
			color: #fff;
			text-transform: uppercase;
			padding-left: 16px;
			padding-right: 10px;
			&:before {
				position: absolute;
				right: $height / 2 * -1;
				top: 0;
				content: "";
				width: 0;
				height: 0;
				border-top: $height / 2 solid $fourth-color;
				border-bottom: $height / 2 solid $fourth-color;
				border-right: $height / 2 solid transparent;
			}
			&--new {
				background-color: $first-color;
				&:before {
					border-top-color: $first-color;
					border-bottom-color: $first-color;
				}
			}
			&--action {
				background-color: $second-color;
				&:before {
					border-top-color: $second-color;
					border-bottom-color: $second-color;
				}
			}
		}
	}
	&__img {
		float: left;
		width: 100px;
		height: 100px;
		margin-top: 15px;
		a {
			display: block;
			width: 100%;
			height: 100%;
			img {
				display: block;
				height: 100%;
				width: 100%;
				object-fit: cover;
				object-position: center;
			}
		}
	}
	&__v-code {
		margin-bottom: 16px;
		font-size: 13px;
		color: #333;
	}
	&__info {
		margin-left: 115px;
	}
	&__title {
		$l-height: 23px;
		margin-bottom: 10px;
		font-size: 16px;
		line-height: $l-height;
		height: $l-height * 3;
		overflow: hidden;
		a {
			color: $link-color;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&__available {
		margin-bottom: 16px;
		.present, .absent {
			font-size: 13px;
			color: #333;
			margin: 0;
			svg {
				display: inline-block;
				margin-right: 5px;
				width: 9px;
				height: 9px;
			}
		}
		.present {
			display: block;

			svg {
				fill: $fourth-color;
			}
		}
		.absent {
			display: none;
			svg {
				fill: $second-color;
			}
		}
	}
	&--absent {
		.catalog-item__img {
			opacity: .3;
		}
		.catalog-item__available {
			.present {
				display: none;
			}
			.absent {
				display: block;
			}
		}
		.catalog-item__price {
			color: #999999;
		}
		.catalog-item__have {
			display: none;
		}
		.catalog-item__report {
			display: block;
		}
	}
	&__buy-more {
		height: 38px;
		@include clearfix;
		button {
			height: 38px;
		}
	}
	&__report {
		display: none;
		width: 38px;
		svg {
			display: inline-block;
			width: 15px;
			height: 15px;
			padding-bottom: 3px;
			fill: #ffffff;
		}
	}
	&__buy {
		float: left;
		width: 38px;
		.in-cart, .to-cart {
			margin: 0;
			display: inline-block;
		}
		.in-cart {
			display: none;
		}
		&.done {
			button {
				background-color: #f0f0f0;
				color: #999999;
				overflow: hidden;
				cursor: not-allowed;
			}
			.in-cart {
				display: block;
			}
			.to-cart {
				display: none;
			}
			svg {
				fill: $fourth-color;
			}
		}
		svg {
			display: inline-block;
			width: 15px;
			height: 15px;
			fill: #ffffff;
		}
	}
	&__price-cont {
		margin-bottom: 15px;
	}
	&__discount,
	&__old-price {
		display: none;
	}
	&__price {
		display: block;
		padding-bottom: 23px;
		font-size: 18px;
		line-height: 23px;
		font-weight: 500;
		color: #222222;
	}
	&--discount {
		.catalog-item__discount {
			display: inline-block;
			margin-left: 10px;
			padding-left: 6px;
			padding-right: 6px;
			border-top-left-radius: 6px;
			border-bottom-left-radius: 6px;
			font-size: 13px;
			height: 23px;
			line-height: 23px;
			background-color: $fifth-color;
			color: #ffffff;
		}
		.catalog-item__old-price {
			display: block;
			font-size: 14px;
			line-height: 22px;
			color: #8a9499;
			text-decoration: line-through;
		}
		.catalog-item__price {
			margin-top: 0;
			padding-bottom: 0;
			display: inline-block;
		}
	}
	&__more {
		$btn-color: #cccccc;
		float: left;
		margin-left: 5px;
		@include clearfix;
		.favorites, .compare {
			width: 38px;
			display: block;
			float: right;
			margin-right: 5px;
			transition: .3s;
			svg {
				display: inline-block;
				width: 15px;
				height: 15px;
				fill: $btn-color;
			}
			&:hover {
				border-color: darken($btn-color, 10%);
				svg {
					fill: darken($btn-color, 10%);
				}
			}
		}
		.compare {
			&.done svg {
				fill: $second-color;
			}
		}
		.favorites {
			svg.to-favorites {
				display: inline-block;
			}
			svg.in-favorites {
				display: none;
				fill: $second-color;
			}
			&.done svg {
				&.to-favorites {
					display: none;
				}
				&.in-favorites {
					display: inline-block;
				}
			}
		}
	}
}
