.categories-block {
	background-color: $bg-color;
	padding-top: 20px;
	padding-bottom: 20px;
	.categories-items {
		&__more {
			margin-top: 20px;
		}
	}
	.categories-item {
		&:nth-child(n+6) {
			display: none;
		}
		margin-bottom: 5px;
		height: auto;
	    border: 1px solid #e9d9c3;
	    border-radius: 4px;
	    padding: 8px 10px;
	    background-color: #fff;
	    &:hover {
			background-color: $third-color;
			.categories-item__counter {
				background-color: #ffffff;
			}
		}
		a {
			display: flex;
			width: 100%;
			align-items: center;
			color: inherit;
			text-decoration: none;
		}
		&__img {
			width: 50px;
			height: 50px;
			background-color: #fff;
			margin-right: 20px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
		}
		&__counter {
			margin-left: auto;
			height: 20px;
			min-width: 20px;
			border-radius: 10px;
			background-color: #eeddcf;
			padding-left: 6px;
			padding-right: 6px;
			text-align: center;
			color: #999999;
			font-size: 12px;
			line-height: 20px;
		}

	}

}