.our-soc-block {
	padding-top: 30px;
	padding-bottom: 30px;
	.our-soc-items {
		&__more {
			margin-top: 30px;
		}
	}
	.our-soc-item {
		height: 220px;
		$fb-color: #1d4da1;
		$yt-color: #e63c45;
		$twt-color: #40a0f1;
		a {
			text-decoration: none;
		}
		position: relative;
		margin-bottom: 15px;
		padding: 20px 10px 30px;
		border-radius: 6px;
		border: $border;
		background-color: #ffffff;
		transition: .3s;
		&--fb {
			background-color: $fb-color;
		}
		&--yt {
			background-color: $yt-color;
		}
		&--twt {
			background-color: $twt-color;
		}
		&__logo {
			margin: auto;
			width: 50px;
			height: 40px;
			text-align: center;
			margin-bottom: 32px;
			svg {
				display: inline-block;
				width: 100%;
				height: 100%;
				fill: #ffffff;
			}
		}
		&--subscr {
			border: none;
			padding: 40px 33px;
			a {
				text-decoration: none;
			    display: block;
			    width: 100%;
			    height: 100%;
			    opacity: 1;
			    transition: opacity .3s;
			    &:hover {
			    	opacity: .8;
			    }
			}
		}
		&__link {
			margin-left: auto;
			margin-right: auto;
			width: 70%;
			padding: 15px;
			border: 1px solid #ffffff;
			border-radius: 4px;
			font-size: 16px;
			line-height: 21px;
			font-weight: 500;
			color: #ffffff;
			text-align: center;
		}
		&--fb-post {
			svg {
				fill: $fb-color;
			}
			&:hover {
				background-color: $fb-color;
				border-color: transparent;
				.our-soc-item__date,
				.our-soc-item__txt {
					color: #ffffff;
				}
				.our-soc-item__icon {
					svg {
						fill: #ffffff;
					}
				}
			}
		}
		&--twt-post {
			svg {
				fill: $twt-color;
			}
			&:hover {
				background-color: $twt-color;
				border: transparent;
				.our-soc-item__date,
				.our-soc-item__txt {
					color: #ffffff;
				}
				.our-soc-item__icon {
					svg {
						fill: #ffffff;
					}
				}
			}
		}
		&--yt-post {
			background-color: #ccc;
			overflow: hidden;
			a {
				width: 100%;
				height: 100%;
				position: relative;
				z-index: 1;
				display: block;
				svg {
					@include centerer-xy;
					display: inline-block;
					width: 28px;
					height: 28px;
					fill: #ffffff;
				}
			}
			.our-soc-item--bground {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
    				object-position: center;
				}
			}
			&:after {
				position: absolute;
				content: "";
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background-color: rgba(0,0,0,.3);
				transition: .3s;
			}
			&:hover {
				&:after {
					background-color: rgba(0,0,0,0);
				}
			}
		}
		&__date {
			margin-top: 0;
			margin-bottom: 20px;
			font-size: 13px;
			color: #999999;
		}
		&__txt {
			$l-height: 21px;
			margin: 0;
			color: #666666;
			font-size: 14px;
			line-height: $l-height;
			height: $l-height * 7;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		&__icon {
			position: absolute;
			top: 16px;
			right: 16px;
			width: 20px;
			height: 20px;
			svg {
				width: 100%;
				height: 100%;
			}
		}
	}
}