.pagination-section {
	&__items {
		font-size: 0;
		text-align: center;
		li {
			display: inline-block;
			width: 44px;
			height: 44px;
			margin-right: 5px;
			font-size: 14px;
			line-height: 44px;
			text-align: center;
			border: $border;
			border-radius: 2px;
			background-color: #ffffff;
			a {
				display: block;
				color: #333333;
				text-decoration: none;
			}
			&:hover {
				background-color: #f5f5f5;
				&.points {
					background-color: #ffffff;
				}
			}
			&.active, &.active:hover  {
				background-color: #f2f2f2;
				color: $second-color;
			}
		}
	}
}