.portfolio-block {
	background-color: $bg-color;
	padding-top: 20px;
	padding-bottom: 20px;
	.portfolio-header {
		font-size: inherit;
		font-weight: inherit;
		margin: inherit;
		padding-top: 15px;
	}
	.portfolio-item {
		height: 288px;
		background-color: #ffffff;
		border-radius: 6px;
		overflow: hidden;
		a {
			text-decoration: none;
		}
		&:hover .portfolio-item__desc {
			color: $second-color;
		}
		&__img {
			height: 213px;
			img {
			    width: 100%;
			    height: 100%;
			    object-fit: cover;
			    object-position: center;
			}
		}
		&__desc {
			$l-height: 21px;
			margin-top: 20px;
			margin-bottom: 0;
			padding-left: 18px;
			padding-right: 18px;
			font-size: 16px;
			line-height: $l-height;
			height: $l-height * 2;
			overflow: hidden;
			text-overflow: ellipsis;
			color: #333333;
			transition: .3s;
		}
	}
	@include swiper-buttons($right: 0, $top: 0);
}