.recommended-block {
	padding-top: 32px;
	padding-bottom: 38px;
	.catalog-tab {
		position: relative;
		display: inline-block;
		margin-right: 25px;
		padding-bottom: 24px;
		font-size: 16px;
		color: #333333;
		cursor: pointer;
	}
	.catalog-tab.active:after {
		content: "";
		position: absolute;
		bottom: -1px;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: $second-color;
	}
	.tabs_content {
		border-top: $border;
		padding-top: 20px;
	}
	.catalog-items {
		&__more {
			margin-top: 20px;
		}
	}
}