.side-menu-wrapper {

}
.side-menu {
	background-color: #fff;
	padding: 25px 48px;
	&__title {
		margin-top: 0;
		margin-bottom: 20px;
		font-size: 18px;
		font-weight: 500;
	}
	&__content {
		border-top: $border;
	}
	&__item {
		font-size: 14px;
		border-bottom: $border;
		&:last-child {
			border-bottom: none;
		}
	}
	&__sub {
		display: none;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			top: 17px;
			bottom: 17px;
			left: 0;
			width: 2px;
			background-color: $second-color;
		}
	}
	&__item-cont {
		width: 100%;
		height: 50px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
		.side-menu__name {
			display: inline-block;
			width: calc(100% - 25px);
			word-wrap: normal;
			overflow: hidden;
			height: 16.8px;
		}
		&:after {
			content: "+";
			font-size: 18px;
			display: inline-block;
		}
		&.opened {
			&:after {
				content: "–";
			}
			+.side-menu__sub {
				display: block;
			}
		}
	}
	&__sub-item {
		width: 100%;
		height: 50px;
		margin-left: 17px;
		&:last-child a {
			border-bottom: none;
		}
		a {
			display: flex;
			align-items: center;
			width: 100%;
    		height: 100%;
			text-decoration: none;
			color: $link-color;
			border-bottom: $border;
			&:hover {
				text-decoration: underline;
			}
		}
		&.active {
			a {
				color: $second-color;
			}
		}
	}
}