.news-list-elem {
	margin-bottom: 15px;
	border: $border;
	border-radius: 6px;
	overflow: hidden;
	&__img {
		width: 100%;
		height: 200px;
		img {
			display: block;
			width: 100%;
		    height: 100%;
		    object-fit: cover;
		    object-position: center;
		}
	}
	&__content {
		padding: 18px 15px 15px;
	}
	&__date {
		margin-top: 0;
		margin-bottom: 10px;
		font-size: 14px;
		font-weight: 400;
		color: #999999;
	}
	&__title {
		margin-top: 0;
		margin-bottom: 10px;
		$l-hight: 23px;
		font-size: 16px;
		font-weight: 400;
		line-height: $l-hight;
		height: $l-hight * 2;
		color: $link-color;
		overflow: hidden;
		a {
			color: inherit;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&__txt {
		$l-hight: 21px;
		margin-top: 0;
		margin-bottom: 10px;
		font-size: 14px;
		line-height: $l-hight;
		height: $l-hight * 3;
		color: #666666;
		overflow: hidden;
	}
	&__btn {
		width: 120px;
	}
}