.regular-block {
	margin-bottom: 60px;
	&__header {
		margin-top: 0;
	    margin-bottom: 20px;
	    font-size: 18px;
	    font-weight: 500;
	    line-height: 28px;
	    color: #222;
	    word-wrap: break-word;
	}
	&__sub-header {
		margin-top: 0;
		margin-bottom: 20px;
		font-size: 16px;
		font-weight: 500;
		color: #333333;
	}
	.side-menu-top {
		margin-bottom: 20px;
		&__btn {
			display: inline-block;
			width: 44px;
			height: 44px;
			padding: 0;
			border: none;
			outline: none;
			border-radius: 2px;
			background-color: $bg-color;
			position: relative;
			svg {
				@include centerer-xy;
				width: 18px;
				height: 18px;
				fill: $second-color;
			}
		}
	}
}
.regular-block__content {
	p {
		margin-top: 0;
		margin-bottom: 20px;
		font-size: 14px;
		line-height: 21px;
		color: #666666;
	}
	ul {
		margin-top: 25px;
		margin-bottom: 25px;
	}
	li {
		position: relative;
	    padding-left: 25px;
	    margin-top: 0;
	    margin-bottom: 16px;
	    font-size: 14px;
	    line-height: 21px;
	    color: #666;
	    &:before {
    	    content: "";
		    position: absolute;
		    top: 8px;
		    left: 0;
		    width: 8px;
		    height: 8px;
		    border-radius: 50%;
		    background-color: #f68830;
	    }
	}
}