.news-item__one {
	margin-bottom: 20px;
}
.news-item__header {
	margin-top: 0;
	margin-bottom: 32px;
	font-size: 18px;
	font-weight: 500;
	line-height: 28px;
	color: #222222;
}
.news-item__top {
	padding-bottom: 20px;
	margin-top: 0;
	margin-bottom: 26px;
	border-bottom: $border;
	color: #999999;
	span {
		position: relative;
		&:after {
			content: "";
			position: absolute;
			left: 0;
			bottom: -22px;
			width: 100%;
			height: 2px;
			background-color: $second-color;
		}
	}
}
.news-item__img {
	width: 100%;
	height: 150px;
	margin-bottom: 25px;
	img {
		display: block;
		width: 100%;
	    height: 100%;
	    object-fit: cover;
	    object-position: center;
	}
}
.news-item__content {
	p {
		margin-top: 0;
		margin-bottom: 25px;
		font-size: 14px;
		line-height: 21px;
		color: #666666;
	}
}
.news-item__author {
	font-size: 14px;
	font-weight: 500;
	color: #333333;
}
.news-item__return {
	margin-bottom: 20px;
	padding-bottom: 36px;
	border-bottom: $border;
	a {
	    color: $link-color;
		text-decoration: none;
	}
	span {
	    font-size: 16px;
	    cursor: pointer;
	}
	.fa {
	    font-size: 18px;
	    padding-right: 10px;
	    color: #f68830;
	}
}
.news-item__list-title {
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: 500;
}