.regular-block {
	.cat-list-elem {
		display: flex;
		margin-bottom: 16px;
		padding: 15px;
		border: $border;
		border-radius: 6px;
		background-color: #fff;
		&__img {
			width: 70px;
			height: 70px;
			margin-right: 20px;
			img {
				display: block;
			    height: 100%;
			    width: 100%;
			    object-fit: cover;
			    object-position: center;
			}
		}
		&__title {
			margin-top: 0;
			margin-bottom: 16px;
			font-size: 16px;
			font-weight: 500;
			color: #333333;
			a {
				color: inherit;
				text-decoration: none;
				&:hover {
					color: $link-color;
				}
			}
		}
		&__sub {
			margin-top: 0;
			margin-bottom: 16px;
		}
		&__sub-elem {
			margin-bottom: 8px;
			font-size: 14px;
			font-weight: 400;
			color: #666666;
			a {
				color: inherit;
				text-decoration: none;
				&:hover {
					color: $link-color;
				}
			}
		}
		&__more {
			margin-top: 16px;
	    	text-align: left;
	    	font-size: 14px;
	    	color: $link-color;
	    	a {
	    		color: inherit;
	    		text-decoration: none;
	    	}
	    	span {
	    		cursor: pointer;
		    	.fa {
				    padding-left: 10px;
		    		font-size: 18px;
		    		vertical-align: middle;
				    color: #f68830;
		    	}
	    	}
		}
	}
}