.portfolio-list-items {
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
	margin-top: -30px;

	.portfolio-list-elem {
		margin-left: 15px;
		margin-right: 15px;
		margin-top: 30px;
		width: calc(50% - 30px);
		@media screen and (min-width: 1024px) {
			width: calc(100% / 3 - 30px);
		}
		border: $border;
		border-radius: 6px;
		overflow: hidden;
		&__img {
			width: 100%;
			height: 210px;
			@media screen and (min-width: 1024px) {
				height: 186px;
			}
			@media screen and (min-width: 1200px) {
				height: 230px;
			}
			img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
		}
		&__title {
			$l-height: 23px;
			height: $l-height * 2;
			margin: 20px 14px;
			font-size: 16px;
			line-height: $l-height;
			overflow: hidden;
			a {
				color: #333333;
				text-decoration: none;
				&:hover {
					color: $second-color;
				}
			}
		}
	}
}