body {
	font-family: $ff-main;
	font-size: 1rem;
	line-height: 1.2;
	color: #333333;
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

ul, li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.clearfix {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}
.container {
	max-width: 1537px;
	margin: auto;
	padding-left: 30px;
	padding-right: 30px;
}
%main-btn {
	display: inline-block;
	border: none;
	outline: none;
	padding: 0;
	height: 38px;
	width: 100%;
	font-size: 16px;
	line-height: 38px;
	text-align: center;
	text-decoration: none;
	border-radius: 4px;
	font-weight: 500;
}
.a-style-btn {
	@extend %main-btn;
	background-color: $second-color;
	color: #ffffff;
	&:hover {
		background-color: lighten($second-color, 8%);
	}
}
.b-style-btn {
	@extend %main-btn;
	background-color: $fourth-color;
	color: #ffffff;
	&:hover {
		background-color: lighten($fourth-color, 8%);
	}
}
.c-style-btn {
	@extend %main-btn;
	background-color: #ffffff;
	color: #cccccc;
	border: 1px solid #e6ecf0;
}
.d-style-btn {
	@extend %main-btn;
	background-color: #ffffff;
	color: $second-color;
	border: 1px solid #e6ecf0;
	&:hover {
		background-color: #e6ecf0;
	}
}
.section-header {
	margin-top: 0;
	font-weight: 500;
	color: #222222;
	position: relative;
	margin-bottom: 30px;
	font-size: 24px;
	@media screen and (min-width: 1024px) {
		margin-bottom: 40px;
		font-size: 30px;
	}

}
.site-styles {
	h2 {
		margin-top: 30px;
		margin-bottom: 30px;
		font-size: 24px;
		font-weight: 500;
		line-height: 32px;
		color: #333333;
		&:first-child {
			margin-top: 0;
		}
	}
	p, li {
		font-size: 14px;
		line-height: 24px;
		color: #666666;
	}
	ul {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	li {
		position: relative;
		margin-bottom: 16px;
		padding-left: 25px;
		&:before {
			content: "";
			position: absolute;
			top: 8px;
			left: 0;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background-color: $second-color;
		}
	}
	p {
		margin-top: 0;
		margin-bottom: 26px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}