@mixin centerer-xy($position: absolute) {
	position: $position;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

@mixin centerer-x($position: absolute) {
	position: $position;
	left: 50%;
	transform: translateX(-50%);
}

@mixin centerer-y($position: absolute) {
	position: $position;
	top: 50%;
	transform: translateY(-50%);
}

@mixin clear {
  padding: 0;
  margin: 0;
}

@mixin clearfix {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

@mixin swiper-buttons($left: auto, $right: auto, $top: auto, $bottom: auto, $bordered: false) {
	@if $bordered != false {
		.prev-slide, .next-slide {
			border: $border;
		}
		.prev-slide:hover, .next-slide:hover {
			border-color: darken(#e6e6e6, 15%);
		}
	}
	position: relative;
	.swiper-buttons {
		position: absolute;
		left: $left;
		right: $right;
		top: $top;
		bottom: $bottom;
		font-size: 0;

		.prev-slide, .next-slide {
			position: relative;
			width: 38px;
			height: 38px;
			display: inline-block;
			background-color: #ffffff;
			border-radius: 4px;
			text-align: center;
			outline: none;
			cursor: pointer;
			.fa {
				font-size: 18px;
				@include centerer-xy;
				color: #999999;
			}
			&.swiper-button-disabled {
				cursor: auto;
				.fa {
					color: #cccccc;
				}
				&:hover .fa {
					color: #cccccc;
					cursor: auto;
				}
			}
			&:hover .fa {
				color: $second-color;
			}
		}
		.prev-slide {
			margin-right: 12px;
		}
	}
}