.pop-up-bg {
	position: fixed;
	z-index: 9;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .3);
}
.pop-up-window {
	@include centerer-xy($position: fixed);
	z-index: 100;
	box-sizing: border-box;
	width: 320px;
	height: auto;
	padding: 36px 36px 60px;
	border: $border;
	border-radius: 6px;
	background-color: #fff;
	&__close {
		position: absolute;
		top: -32px;
		right: -32px;
		padding: 0;
		border: none;
		outline: none;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		background-color: $bg-color;
		svg {
			display: inline-block;
			width: 12px;
			height: 12px;
			fill: $second-color;
		}
	}
	&__title {
		font-size: 24px;
		font-weight: 500;
		text-align: center;
		color: #333333;
		margin-bottom: 34px;
	}
	&__input-group,
	&__textarea-group {
		position: relative;
		margin-bottom: 16px;
	}
	&__input-field,
	&__textarea-field {
		position: relative;
		z-index: 1;
		width: 100%;
		height: 38px;
		border: $border;
		border-radius: 2px;
		padding-left: 7px;
		padding-right: 7px;
		background-color: transparent;
		font-size: 13px;
		&:focus {
			outline-color: $second-color;
			+ span {
				display: none;
			}
		}
		&:required {
			+ span {
				&:after {
					content: " *";
					color: $second-color;
				}
			}
		}
	}
	&__input-placeholder,
	&__textarea-placeholder {
		position: absolute;
		left: 7px;
		top: 0;
		line-height: 38px;
		font-size: 13px;
		color: #999999;
	}
	&__btn-group {
		margin-top: 30px;
	}
	&__textarea-field {
		padding-top: 7px;
		height: 100px;
	}
}

.avail-report {
	display: none;
	&__btn {
		button, input {
			width: auto;
			padding-left: 36px;
			padding-right: 36px;
		}
	}
}

.ask-question {
	display: none;
	&__btn {
		button, input {
			width: auto;
			padding-left: 36px;
			padding-right: 36px;
		}
	}
}

.login-modal {
	display: none;
	&__btn {
		display: inline-block;
		button {
			width: auto;
			padding-left: 36px;
			padding-right: 36px;
		}
	}
	&__forgot-link,
	&__reg-link {
		font-size: 14px;
		display: inline-block;
		height: 38px;
		line-height: 38px;
		a {
			color: #333333;
			text-decoration: none;
			transition: color .3s;
			&:hover {
				color: $second-color;
			}
		}
	}
	&__forgot-link {
		margin-left: 15px;
	}
	&__reg-link {
		margin-top: 15px;
	}
}

.feedback-captcha {
	display: flex;
	justify-content: space-between;
	.input-captcha {
		width: calc(100% - 175.5px - 16px);
	}
	&--vertical {
		flex-direction: column;
		.input-captcha {
			width: auto;
		}
	}
	.img-captcha {
		display: block;
		width: 175.5px;
		height: 38px;
	}
}
.feedback-submit {
	margin-top: 14px;
	text-align: right;
	button, input {
		width: 150px;
	}
}

.ok-txt, .err-txt {
	display: flex;
	padding: 10px 10px;
	margin-bottom: 20px;
	font-size: 14px;
	line-height: 16px;
	color: #fff;
	.fa {
		flex-shrink: 0;
		margin-right: 10px;
	}
}
.ok-txt {
	background-color: #658bd7;
	font-weight: 500;
}
.err-txt {
	display: flex;
	background-color: #e63c45;
	div p {
		color: #fff;
		margin-top: 0;
		margin-bottom: 6px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.hr-section-50 {
	width: 50%;
}

.form-section {
	.pop-up-window__txt,
	.pop-up-window__p {
		font-size: 16px;
	}
	.pop-up-window__p {
		margin-bottom: 15px ;
	}
	a {
		font-weight: 400;
		color: $first-color;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	.a-style-btn {
		width: auto;
		padding-left: 20px;
		padding-right: 20px;
	}
}