.certif__items {
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
	margin-top: -30px;

	.certif__item {
		display: flex;
		flex-direction: column;
		width: calc(100% / 3 - 30px);
		@media screen and (min-width: 1024px) {
			width: calc(25% - 30px);
		}
		margin-left: 15px;
		margin-right: 15px;
		margin-top: 30px;
		padding: 22px;
		border: $border;
		border-radius: 6px;
		.certif__item-img {
			position: relative;
			flex-grow: 1;
			width: 100%;
			margin-bottom: 20px;
			border: $border;
			img {
				display: block;
				width: 100%;
				height: auto;
			}
			&:hover {
				cursor: pointer;
				&:before {
					content: '';
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					background-color: rgba(0, 0, 0, .3);
				}
				&:after {
					content: '';
					width: 24px;
					height: 24px;
					background-position: center;
					background-repeat: no-repeat;
					background-size: cover;
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23FFFFFF' d='M23.8,20.2c0.3,0.3,0.3,0.6,0,0.9l-2.7,2.8C21,23.9,20.8,24,20.6,24c-0.2,0-0.3-0.1-0.4-0.2l-5.2-5.4 c-1.6,1-3.2,1.4-5,1.4c-2.7,0-5-1-7-2.9S0,12.7,0,9.9s1-5.1,2.9-7S7.2,0,9.9,0s5,1,7,2.9s2.9,4.3,2.9,7c0,1.8-0.4,3.4-1.3,4.9 L23.8,20.2z M14.2,5.7C13,4.5,11.6,3.9,9.9,3.9S6.8,4.5,5.6,5.7S3.9,8.3,3.9,9.9c0,1.7,0.6,3.1,1.8,4.3S8.3,16,9.9,16 s3.1-0.6,4.2-1.8s1.7-2.6,1.7-4.3C15.9,8.3,15.3,6.8,14.2,5.7z'/%3E%3C/svg%3E");
					@include centerer-xy;
				}
			}
		}
		.certif__item-txt {
			font-size: 16px;
			line-height: 21px;
			color: #333333;
		}
	}
}