.regular-block {
	.certif__item {
		width: 100%;
		padding: 22px;
		border: $border;
		border-radius: 6px;
		margin-bottom: 15px;
		.certif__item-img {
			width: 100%;
			height: 320px;
			margin-bottom: 20px;
			img {
				display: block;
				height: 100%;
				width: auto;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
	.certif__item-txt {
		font-size: 16px;
		line-height: 21px;
		color: #333333;
	}
}