.regular-block {
	.faq-item {
		margin-bottom: 15px;
		padding: 27px 20px;
		border: $border;
		border-radius: 6px;
		background-color: #fff;
		&__question {
			position: relative;
			&:after {
				content: "";
				position: absolute;
				left: -20px;
				right: -20px;
				top: -27px;
				bottom: -27px;
			}
			display: flex;
			cursor: pointer;
			span {
				flex-grow: 1;
				font-size: 16px;
				font-weight: 500;
				color: #333333;
			}
			.fa {
				flex-shrink: 0;
				font-size: 18px;
			}
		}
		&__answer {
			display: none;
			padding-top: 20px;
			font-size: 14px;
			line-height: 21px;
			color: #666666;
		}
		&.opened {
			background-color: #f5f5f5;
			.faq-item__answer {
				display: block;
			}
		}
	}
	.question-yet {
		margin-top: 24px;
		margin-bottom: 30px;
		padding: 32px 25px 25px;
		border: $border;
		border-radius: 6px;
		text-align: center;
		&__img {
			width: 48px;
			height: 48px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 25px;
			svg {
				display: block;
				width: 100%;
				height: 100%;
				fill: $second-color;
			}
		}
		&__txt {
			margin-bottom: 25px;
			.first-sentence {
				margin-top: 0;
				margin-bottom: 10px;
				font-size: 16px;
				font-weight: 500;
				color: #333333;
			}
			.second-sentence {
				margin: 0;
				font-size: 14px;
				font-weight: 400;
				color: #666666;
			}
		}
		&__btn {
			margin-left: auto;
			margin-right: auto;
			width: 150px;
		}
	}
}