.partners__items {
	display: flex;
	flex-wrap: wrap;
	margin-top: -30px;
	margin-left: -15px;
	margin-right: -15px;

	.partners__item {
		width: calc(100% / 3 - 30px);
		@media screen and (min-width: 1024px) {
			width: calc(25% - 30px);
		}
		margin-left: 15px;
		margin-right: 15px;
		margin-top: 30px;
		padding: 22px;
		border: $border;
		border-radius: 6px;
		transition: .3s;
		cursor: pointer;
		&:hover {
			.partners__item-img {
				transform: scale(1.1, 1.1);
			}
			.partners__item-txt {
				color: $second-color;
			}
		}
		.partners__item-img {
			width: auto;
			max-width: 100%;
			height: 120px;
			@media screen and (min-width: 1024px) {
				height: 123px;
			}
			@media screen and (min-width: 1440px) {
				height: 150px;
			}
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 20px;
			background-color: #fff;
			transition: .3s;
			img {
				border: 1px solid #fff;
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
		}
		.partners__item-txt {
			margin-top: 0;
			margin-bottom: 0;
			font-size: 16px;
			line-height: 21px;
			text-align: center;
			color: #333333;
			transition: .3s;
		}
	}
}