.pop-up-bg {
	position: fixed;
	z-index: 9;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .3);
}
.pop-up-window {
	@include centerer-xy($position: fixed);
	z-index: 100;
	box-sizing: border-box;
	width: 320px;
	height: auto;
	padding: 36px 36px 60px;
	border: $border;
	border-radius: 6px;
	background-color: #fff;
	&__close {
		position: absolute;
		top: 0;
		right: 0;
		padding: 0;
		border: none;
		outline: none;
		width: 32px;
		height: 32px;
		border-radius: 6px;
		background-color: $bg-color;
		svg {
			display: inline-block;
			width: 12px;
			height: 12px;
			fill: $second-color;
		}
	}
	&__title {
		font-size: 24px;
		font-weight: 500;
		text-align: center;
		color: #333333;
		margin-bottom: 34px;
	}
	&__input-group,
	&__textarea-group {
		position: relative;
		margin-bottom: 16px;
	}
	&__input-field,
	&__textarea-field {
		position: relative;
		z-index: 1;
		width: 100%;
		height: 38px;
		border: $border;
		border-radius: 2px;
		padding-left: 7px;
		padding-right: 7px;
		background-color: transparent;
		font-size: 13px;
		&:focus {
			outline-color: $second-color;
			+ span {
				display: none;
			}
		}
		&:required {
			+ span {
				&:after {
					content: "*";
				}
			}
		}
	}
	&__input-placeholder,
	&__textarea-placeholder {
		position: absolute;
		left: 7px;
		top: 0;
		line-height: 38px;
		font-size: 13px;
		color: #999999;
	}
	&__btn-group {
		margin-top: 30px;
	}
	&__textarea-field {
		padding-top: 7px;
		height: 100px;
	}
}

.avail-report {
	display: none;
	&__btn {
		button {
			width: auto;
			padding-left: 36px;
			padding-right: 36px;
		}
	}
}

.ask-question {
	display: none;
	&__btn {
		button {
			width: auto;
			padding-left: 36px;
			padding-right: 36px;
		}
	}
}