// fonts
$ff-main: 'Ubuntu', sans-serif;
$first-color: #658bd7;
$second-color: #f68830;
$third-color: #e9d9c3;
$fourth-color: #5bb94f;
$fifth-color: #e63c45;
$sixth-color: #e63c45;
$bg-color: #fef5ef;
$first-menu-color: #4c68a1;
$second-menu-color: #e9d9c3;
$bg-footer-color: #424242;
$f-footer-color_1: #fff;
$f-footer-color_2: #999999;
$link-color: $first-color;

$box-shadow: 3px 3px 4px rgba(0,0,0,.2);
$border: 1px solid #e6e6e6;