.regular-block {
	.partners__items {
		display: flex;
		flex-wrap: wrap;
		margin-left: -10px;
		margin-right: -10px;
	}
	.partners__item {
		width: calc(50% - 20px);
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 20px;
		padding: 15px 15px 22px;
		border: $border;
		border-radius: 6px;
	}
	.partners__item-img {
		width: 120px;
		height: 82px;
		margin-left: auto;
		margin-right: auto;
		background-color: #fff;
		img {
			display: block;
			width: 100%;
			height: 100%;
		    object-fit: cover;
		    object-position: center;
		}
	}
	.partners__item-txt {
		margin-top: 0;
		margin-bottom: 0;
		font-size: 14px;
		text-align: center;
		color: #333333;
	}
}